[% meta.title = 'IFComp - Contact' %]
<div class="container">
<div class="jumbotron">
<h1 style="text-align:center;">Contacting the IFComp</h1>
</div>
<div class="page-header">
<h1 id="whatifissmallasfaraswereconcernedsmall">Email</h1>
</div>
<h2><a href="mailto:ifcomp@ifcomp.org">ifcomp@ifcomp.org</a></h2>

<div class="page-header">
<h1 id="whatifissmallasfaraswereconcernedsmall">Twitter</h1>
</div>
<h2><a href="http://twitter.com/ifcomp">@IFComp</a></h2>
