<div class="container">
<h1>Previous IFComp prize pools</h1>

<p>This page lists the contents (minus duplicates) of the <a href="/about/prizes">IFComp prize pool</a> since 2009; all have been awarded to authors from their respective years' competitions. Those interested in <a href="/about/prizes#donatingprizes">donating prizes this year</a> can feel free to take inspiration from this list &mdash; or suggest something entirely different.</p>

<h2>Books and Magazines</h2>
<h3>2014</h3>
<ul>
<li><strong><a href="http://breadpig.com/products/to-be-or-not-to-be"><em>To Be or Not To Be</em>, by Ryan North</a>.</strong> In paperback.<br /><em>Donated by Dan Sanderson</em></li>
<li><strong><a href="http://inform7.textories.com/about/"><em>Creating Interactive Fiction with Inform 7</em>, by Aaron Reed</a>.</strong> In paperback.<br /><em>Donated by Dan Sanderson</em></li>
<li><strong><a href="http://nickm.com/twisty/"><em>Twisty Little Passages</em>, by Nick Montfort</a>.</strong> In paperback.<br /><em>Donated by Dan Sanderson</em></li>
<li><strong><a href="http://www.amazon.com/Aha-Insight-Martin-Gardner/dp/071671017X"><em>aha! Insight</em> by Martin Gardner</a>.</strong> 1978 edition, in paperback.<br /><em>Donated by Olly V.</em></li>
<li><strong><a href="http://www.amazon.com/Meanwhile-Pick-Path-Story-Possibilities/dp/B0096EIXXW"><em>Meanwhile</em>, by Jason Shiga</a>.</strong> In hardcover.<br /><em>Donated by Dan Sanderson</em></li>
<li><strong><a href="http://www.combustionbooks.org/products-page/fiction/what-lies-beneath-the-clock-tower/"><em>What Lies Beneath the Clock Tower</em>, by Margaret Killjoy</a>.</strong> In paperback.<br /><em>Donated by Dan Sanderson</em></li>
<li><strong><a href="http://www.ifwiki.org/index.php/The_Inform_Designer's_Manual"><em>The Inform Designer's Manual</em>, by Graham Nelson</a>.</strong> In hardcover; covers Inform 6.<br /><em>Donated by Dan Sanderson</em></li>
<li><strong><a href="http://www.robohara.com/commodork/"><em>Commodork: Sordid Tales of a BBS Junkie</em> by Rob O'Hara</a></strong> <br /><em>Donated by Robb Sherwin</em></li>
<li><strong><a href="http://www.z-machine-matter.com/2011/05/dennis-wheatley-gone-wild.html">A 1970s reproduction of a Dennis Wheatley crime-dossier mystery</a>.</strong> As seen in the documentary <em>Get Lamp</em>.<br /><em>Donated by Zack Urlocker</em></li>
<li><strong><a href="http://www.z-machine-matter.com/2011/05/dennis-wheatley-gone-wild.html">An original, 1930s Dennis Wheatley crime-dossier mystery</a>.</strong> As seen in the documentary <em>Get Lamp</em>.<br /><em>Donated by Zack Urlocker</em></li>
<li><strong><a href="https://juiced.gs">A 2015 subscription to Juiced.GS</a>.</strong> The quarterly Apple ][ journal.<br /><em>Donated by Ken Gagne</em></li>
</ul>
<h3>2013</h3>
<ul>
<li><strong><a href="http://www.amazon.com/Star-Wench-Anna-Anthropy/dp/0615779298/ref=sr_1_1?s=books&ie=UTF8&qid=1379161624&sr=1-1&keywords=star+wench">Star Wench</a></strong>, a Choose-Your-Own-Death book by Anna Anthropy<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="http://www.amazon.com/Terrible-Nerd-Kevin-Savetz/dp/1939169003/">Terrible Nerd</a></strong>, an autobiography of growing up nerdy in the 1980s<br /><em>Donated by Kevin Savetz</em></li>
<li><strong><a href="http://www.amazon.com/To-Be-Not/dp/0982853742">To Be OR Not To Be</a></strong>, Ryan North's Choose-Your-Own-Adventure version of Hamlet<br /><em>Donated by Anonymous</em></li>
<li><strong>A 2014 subscription to <a href="http://juiced.gs/">Juiced.GS</a></strong>, the quarterly Apple ][ journal<br /><em>Donated by Ken Gagne</em></li>
<li><strong>A copy of the Juiced.GS <a href="http://www.intfiction.org/forum/viewtopic.php?f=4&t=8577">special IF edition</a></strong> <br /><em>Donated by Ken Gagne</em></li>
</ul>
<h3>2012</h3>
<ul>
<li><strong><a href="http://www.amazon.com/Terrible-Nerd-Kevin-Savetz/dp/1939169003/">Terrible Nerd</a></strong>, an autobiography of growing up nerdy in the 1980s<br /><em>Donated by Kevin Savetz</em></li>
<li><strong><i>The Best of Creative Computing: Volume 3</i></strong>  <a href="http://www.amazon.com/The-Best-Creative-Computing-ebook/dp/B007RQORGS">for the Kindle</a><br /><em>Donated by Kevin Savetz</em></li>
<li><strong><i>The Castle Of Crossed Destinies</i> by Italo Calvino</strong> <br /><em>Donated by Viv Dunstan</em></li>
<li><strong>A 1970s reproduction of a <a href="http://www.z-machine-matter.com/2011/05/dennis-wheatley-gone-wild.html">Dennis Wheatley crime dossier</a></strong> <br /><em>Donated by Zack Urlocker</em></li>
<li><strong>A 2013 subscription to <a href="http://juiced.gs/">Juiced.GS</a></strong>, the quarterly Apple ][ journal<br /><em>Donated by Ken Gagne</em></li>
<li><strong>An original 1930s <a href="http://www.z-machine-matter.com/2011/05/dennis-wheatley-gone-wild.html">Dennis Wheatley crime dossier</a></strong> <br /><em>Donated by Zack Urlocker</em></li>
</ul>
<h3>2011</h3>
<ul>
<li><strong><a href="http://www.amazon.co.uk/Art-Game-Design-book-lenses/dp/0123694965/">The Art of Game Design</a>, by Jesse Schell</strong>  (a new copy in paperback)<br /><em>Donated by Vivienne Dunstan</em></li>
<li><strong><i><a href="http://www.robohara.com/invadingspaces/">Invading Spaces:: A Beginner's Guide to Collecting Arcade Games</a></i></strong> <br /><em>Donated by Robb Sherwin</em></li>
<li><strong><i>Flatland: A Romance of Many Dimensions</i></strong>  in hardback<br /><em>Donated by Duncan Bowsman</em></li>
<li><strong><i>Plot Versus Character</i></strong>  by Jeff Gerke, in paperback<br /><em>Donated by Paul Lee</em></li>
<li><strong><i>The IF Theory Reader</i>, <i>Interactive Storytelling</i>, and <i>A Theory of Fun for Game Design</i></strong>, all gently-used paperbacks<br /><em>Donated by Kevin Jackson-Mead</em></li>
<li><strong>A copy of <a href="http://en.wikipedia.org/wiki/Blindness_%28novel%29">Blindness</a> by JosÈ Saramago</strong> <br /><em>Donated by Leandro Ribeiro</em></li>
<li><strong>A one-year subscription to <a href="http://juiced.gs/store/subscriptions/">Juiced.GS</a></strong>, the only remaining print magazine for the Apple ][<br /><em>Donated by Ken Gagne</em></li>
<li><strong>An original <a href="http://www.z-machine-matter.com/2011/05/dennis-wheatley-gone-wild.html">Dennis Wheatley crime dossier</a> from the 1930s</strong> <br /><em>Donated by Zack Urlocker</em></li>
<li><strong>Three reproductions of <a href="http://www.z-machine-matter.com/2011/05/dennis-wheatley-gone-wild.html">Dennis Wheatley crime dossiers</a></strong> <br /><em>Donated by Zack Urlocker</em></li>
</ul>
<h3>2010</h3>
<ul>
<li><strong><i>Star Trek: The Academy -- Collision Course</i></strong>, a gently used paperback<br /><em>Donated by Paul Lee</em></li>
<li><strong><i>The Maltese Falcon</i>, by Dashiell Hammet</strong>, with photos from 1928 of the story's San Francisco locations<br /><em>Donated by Martin Wade</em></li>
<li><strong>A <a href="http://www.z-machine-matter.com/2010/10/dennis-wheatley-1936.html">softcover reprint of "Murder Off Miami"</a></strong>, as seen in the documentary Get Lamp<br /><em>Donated by Zack Urlocker</em></li>
<li><strong>Three Agatha Christie novels in hardback</strong>  ("Cards on the Table", "The MIrror Crack'd from Side to Side", and "The Mysterious Mr Quin")<br /><em>Donated by Iain Merrick</em></li>
</ul>
<h3>2009</h3>
<ul>
<li><strong><a href="http://www.akpeters.com/product.asp?ProdCode=4179">Writing for Video Game Genres</a></strong> <br /><em>Donated by J. Robinson Wheeler</em></li>
<li><strong>The Inform Designer's Manual (4th ed.)</strong>  in hardback<br /><em>Donated by Dan Sanderson</em></li>
</ul>
<h2>Clothing</h2>
<h3>2014</h3>
<ul>
<li><strong><a href="http://shop.intlprincess.org/Punjammies/">Any one item from the International Princess Project's Punjammies collection</a>.</strong> Subject to availability at the time the prize is chosen.<br /><em>Donated by Ryan Veeder</em></li>
</ul>
<h3>2012</h3>
<ul>
<li><strong>An item from the International Princess Project's <a href="http://www.punjammies.com/">Punjammies collection</a></strong> <br /><em>Donated by Ryan Veeder</em></li>
</ul>
<h3>2011</h3>
<ul>
<li><strong>A <a href="http://smartenough.org/">Smart Enough to know Better</a> Cryptozoo shirt</strong> <br /><em>Donated by Dan Beeston</em></li>
</ul>
<h2>Computer Hardware and Other Electronics</h2>
<h3>2012</h3>
<ul>
<li><strong>A <a href="http://www.makeymakey.com/">MaKey MaKey kit</a></strong> <br /><em>Donated by Anonymous</em></li>
</ul>
<h3>2009</h3>
<ul>
<li><strong>A beige USB Unicomp Model M keyboard</strong> <br /><em>Donated by Rob Dubbin</em></li>
</ul>
<h2>Conditional prizes</h2>
<h3>2014</h3>
<ul>
<li><strong>$100 US, to be shared by the top three non-parser-based entries.</strong> $50 / $25 / $25.<br /><em>Donated by Anonymous</em></li>
<li><strong>$100 US, to be shared by the top three parser-based entries.</strong> $50 / $25 / $25. Awarded via Paypal.<br /><em>Donated by Etienne Vouga</em></li>
</ul>
<h2>Expert Services</h2>
<h3>2014</h3>
<ul>
<li><strong><a href="http://travisreynolds.deviantart.com/">One full-page commissioned illustration by Travis Reynolds</a></strong> <br /><em>Donated by Benjamin Amsden</em></li>
<li><strong>Three hours of copyediting.</strong> Good for any type of digital text (Word documents, text files, string literals within program code, etc.). Includes delivery of clean diffs, as well as comments explaining changes.<br /><em>Donated by Kake</em></li>
<li><strong>Translation of a Twine game's source from English to German.</strong> Or vice-versa.<br /><em>Donated by Marius Müller</em></li>
</ul>
<h3>2012</h3>
<ul>
<li><strong>A comprehensive analysis of your game's transcripts collected during the competition</strong>, including statistics, lists of bugs and unimplemented commands, evaluation of puzzle difficulty levels and story flow, comparison to other games in the competition, recommendations for changes in future releases, and more.<br /><em>Donated by Juhana Leinonen</em></li>
<li><strong>A custom website for the top-placing game</strong>  which will support online play (as appropriate) and game download. Courtesy <a href="http://www.facebook.com/pages/AE-Jackson-Marketing/361613030577606">AE Jackson Marketing</a><br /><em>Donated by Andrew Jackson</em></li>
<li><strong>A short to medium length track of instrumental music</strong>  composed to your specifications in almost any style. Could be used in a game of yours or for any other purpose. Redeemable for a year<br /><em>Donated by Wade Clarke</em></li>
<li><strong>A translation of your game into German</strong> <br /><em>Donated by Marius Müller</em></li>
<li><strong>An adaptation of your game to the Quest engine</strong>, allowing it to run on mobile apps<br /><em>Donated by Mauricio Diaz</em></li>
<li><strong>Five hours of copyediting</strong>  good for any type of text<br /><em>Donated by Kevin Jackson-Mead</em></li>
</ul>
<h2>Food</h2>
<h3>2012</h3>
<ul>
<li><strong>A box of Belgian chocolates</strong>  (from Belgium!)<br /><em>Donated by Julia Nienaber</em></li>
<li><strong>A sturdy hamper of tea, coffee and tasty food from Fortnum & Mason, Piccadilly</strong> <br /><em>Donated by Iain Merrick</em></li>
</ul>
<h3>2010</h3>
<ul>
<li><strong>A basket of fine teas, cake, biscuits, jam and chocolates from Fortnum & Mason, Piccadilly</strong> <br /><em>Donated by Iain Merrick</em></li>
</ul>
<h2>Games</h2>
<h3>2014</h3>
<ul>
<li><strong><a href="http://buriedwithoutceremony.com/monsterhearts/">Rulebook for the tabletop storygame <em>Monsterhearts</em></a>.</strong> Also includes the prebuilt campaign <em>The Blood of Misty Harbour</em>.<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="http://en.wikipedia.org/wiki/Classic_Text_Adventure_Masterpieces_of_Infocom"><em>Classic Text Adventure Masterpieces of Infocom</em></a>.</strong> A never-opened retail package containing 33 Infocom games on CD-ROM, as well as six "winners from the annual text adventure authorship contest" (the 1995 IFComp, in fact). Published by Activision in 1996.<br /><em>Donated by Jason McIntosh</em></li>
<li><strong><a href="http://www.amazon.com/Infocom-The-Fantasy-Collection/dp/B000A7R7CM"><em>The Fantasy Collection</em> on CD-ROM</a>.</strong> Includes the Infocom classics <em>Enchanter</em>, <em>Seastalker</em>, <em>Wishbringer</em>, <em>Sorcerer</em>, <em>Spellbreaker</em>, <em>Planetfall</em>, and <em>Zork Zero</em><br /><em>Donated by Nathan Schwartzman</em></li>
</ul>
<h3>2013</h3>
<ul>
<li><strong><i>Portal 2</i> for the XBox 360</strong>  (gently used)<br /><em>Donated by Bainespal</em></li>
<li><strong>A blue deck of <a href="http://dicecards.com/cards/">Dicecards</a></strong> <br /><em>Donated by Anonymous</em></li>
<li><strong>A red deck of <a href="http://dicecards.com/cards/">Dicecards</a></strong> <br /><em>Donated by Anonymous</em></li>
</ul>
<h3>2012</h3>
<ul>
<li><strong><a href="http://itunes.apple.com/us/app/chopsticks-novel/id497983366?mt=8"><i>Chopsticks</i></a>, an interactive ebook for iOS</strong> <br /><em>Donated by Anonymous</em></li>
<li><strong><a href="http://memento-mori.com/portfolio/parsely-2/">The Parsley 7-game collection</a></strong>, a series of party games inspired by interactive fiction<br /><em>Donated by Greg Cooksey</em></li>
<li><strong><a href="http://memento-mori.com/project/action-castle/">Action Castle and Action Castle 2</a></strong>, party games inspired by interactive fiction<br /><em>Donated by Greg Cooksey</em></li>
<li><strong><a href="http://www.kickstarter.com/projects/corvuse/bhaloidam-an-indie-tabletop-storytelling-game?ref=activity"><i>Bhaloidam</i> Skein Pack</a></strong>  (to be sent after the Kickstarter delivery date)<br /><em>Donated by Anonymous</em></li>
<li><strong><i>Day of the Tentacle</i>, <i>Sam & Max Hit the Road</i>, <i>Full Throttle</i>, and <i>The Dig</i></strong>  in CD-ROM format<br /><em>Donated by Esa Peuha</em></li>
<li><strong><i>Microscope</i>, <i>Fiasco</i>, and <i>The Shab-al-Hiri Roach</i> tabletop RPGs</strong> <br /><em>Donated by Anonymous</em></li>
<li><strong><i>Planetfall</i> for the Apple ][ in a folio package with all feelies</strong> <br /><em>Donated by Esa Peuha</em></li>
<li><strong>Minecraft: Xbox 360 edition for Xbox Live Arcade</strong> <br /><em>Donated by PlayXBLA.com</em></li>
</ul>
<h3>2010</h3>
<ul>
<li><strong>"Tales of the Arabian Nights" board game</strong> <br /><em>Donated by Gregory Cooksey</em></li>
<li><strong><a href="http://memento-mori.com/online-store/parsely-games/">Parsley #1: Action Castle</a></strong> <br /><em>Donated by Gregory Cooksey</em></li>
<li><strong>All six <a href="http://memento-mori.com/online-store/parsely-games/">Parsley games</a></strong>, which are inspired by text adventures<br /><em>Donated by Gregory Cooksey</em></li>
</ul>
<h2>Money and Gift Certificates</h2>
<h3>2014</h3>
<ul>
<li><strong>$100 US.</strong> Delivered via PayPal or gift card.<br /><em>Donated by Devolution Games</em></li>
<li><strong>$100 US.</strong> Delivered via PayPal.<br /><em>Donated by IGDb.com</em></li>
<li><strong>$15 US.</strong> Delivered via PayPal.<br /><em>Donated by Anonymous</em></li>
<li><strong>$200 US.</strong> Delivered via PayPal.<br /><em>Donated by Kingdom of Loathing</em></li>
<li><strong>$25 US.</strong> Delivered via PayPal.<br /><em>Donated by Anonymous</em></li>
<li><strong>$25 US.</strong> Delivered via PayPal.<br /><em>Donated by Jonathan Snyder</em></li>
<li><strong>$50 US.</strong> Delivered via PayPal.<br /><em>Donated by Anonymous</em></li>
</ul>
<h3>2013</h3>
<ul>
<li><strong>$100 US</strong> <br /><em>Donated by Devolution IF Fund</em></li>
<li><strong>$250 US</strong> <br /><em>Donated by Bedlam X</em></li>
<li><strong>$50 US</strong> <br /><em>Donated by Anonymous</em></li>
</ul>
<h3>2012</h3>
<ul>
<li><strong>$100 Amazon gift certificate</strong> <br /><em>Donated by Ian Millington</em></li>
<li><strong>$100 Amazon gift certificate</strong> <br /><em>Donated by Joe Johnston</em></li>
<li><strong>$250</strong>  delivered via PayPal<br /><em>Donated by Anonymous</em></li>
</ul>
<h3>2011</h3>
<ul>
<li><strong>$100 Amazon gift certificate</strong> <br /><em>Donated by Joe Johnston</em></li>
<li><strong>$100 US</strong> <br /><em>Donated by Alex Warren of textadventures.co.uk</em></li>
<li><strong>$100 US</strong> <br /><em>Donated by Matt Wigdahl</em></li>
<li><strong>$50 Amazon gift certificate</strong> <br /><em>Donated by Mark Musante</em></li>
<li><strong>$500 US</strong>  sent via PayPal<br /><em>Donated by Kate McKee</em></li>
<li><strong>A $20 gift certificate to <a href="http://zunior.com/">Zunior.com</a></strong> <br /><em>Donated by Karl Ove Hufthammer</em></li>
</ul>
<h3>2010</h3>
<ul>
<li><strong>$25 gift certificate to <a href="http://amazon.com">Amazon</a></strong> <br /><em>Donated by Joe Johnston</em></li>
<li><strong>$400</strong>, payable via PayPal<br /><em>Donated by Martin Braun</em></li>
<li><strong>$450</strong>, payable via PayPal<br /><em>Donated by Kate McKee</em></li>
<li><strong>$50 gift certificate to Amazon</strong> <br /><em>Donated by Mark Musante</em></li>
<li><strong>$75 gift certificate to <a href="http://amazon.com">Amazon</a></strong> <br /><em>Donated by Joe Johnston</em></li>
<li><strong>A three-month subscription to <a href="http://magnatune.com">Magnatune</a></strong>  (a $45 value)<br /><em>Donated by Karl Ove Hufthammer</em></li>
</ul>
<h3>2009</h3>
<ul>
<li><strong>$100 US</strong>  via PayPal<br /><em>Donated by Stefan Donati</em></li>
<li><strong>$25 Magnatune.com gift card</strong> <br /><em>Donated by Karl Ove Hufthammer</em></li>
<li><strong>$30 Amazon.com gift certificate</strong> <br /><em>Donated by Mark Allums</em></li>
<li><strong>$300 US</strong>  via PayPal<br /><em>Donated by John Miles</em></li>
<li><strong>$350 US</strong>  via PayPal<br /><em>Donated by Kate McKee</em></li>
<li><strong>$50 Amazon.com gift certificate</strong> <br /><em>Donated by Mark Musante</em></li>
<li><strong>$500 US</strong>  via PayPal<br /><em>Donated by Martin Braun</em></li>
</ul>
<h2>Music and Movies</h2>
<h3>2013</h3>
<ul>
<li><strong>A full set of <i>The Wire</i> on DVD</strong>, gently used<br /><em>Donated by Marius Müller</em></li>
<li><strong>The Very Best of Eurovision Song Contest</strong>  (Australian imprint; double CD)<br /><em>Donated by Wade Clarke</em></li>
</ul>
<h3>2012</h3>
<ul>
<li><strong><a href="http://www.getlamp.com/"><i>Get Lamp</i></a>, the adventure game documentary</strong> <br /><em>Donated by Greg Cooksey</em></li>
<li><strong><a href="http://www.pouet.net/prod.php?which=59192"><i>Drift</i> Apple ][ music disk</a></strong>  on 5.25" floppy in a custom, hand-made floppy disk sleeve<br /><em>Donated by Juiced.GS</em></li>
</ul>
<h3>2010</h3>
<ul>
<li><strong>GET LAMP</strong> <br /><em>Donated by Gregory Cooksey</em></li>
</ul>
<h3>2009</h3>
<ul>
<li><strong><a href="http://www.cthulhulives.org/store/store.lasso?1=product&2=8">The Call of Cthulhu</a> movie</strong>  on DVD<br /><em>Donated by Marius M&uuml;ller</em></li>
</ul>
<h2>Non-Game Software</h2>
<h3>2011</h3>
<ul>
<li><strong><a href="http://www.kickstarter.com/projects/1139274522/seven-fables-v10-tales-from-a-distant-island"><i>The Seven Fables</i></a> for iPad</strong>  (when it is released)<br /><em>Donated by Emily Short</em></li>
<li><strong>Any one item from the <a href="http://www.adobe.com/products/creativesuite.html">Adobe Creative Suite</a></strong>  for Windows or Mac<br /><em>Donated by Eric Sanders</em></li>
</ul>
<h3>2010</h3>
<ul>
<li><strong>A custom WordPress template/theme for home page, single, and article pages</strong> <br /><em>Donated by <a href="http://speakinginvector.com/">Amber Hansford</a></em></li>
</ul>
<h3>2009</h3>
<ul>
<li><strong>Windows 7 Ultimate</strong> <br /><em>Donated by David Cornelson</em></li>
</ul>
<h2>Stuff</h2>
<h3>2014</h3>
<ul>
<li><strong><a href="http://bathsheba.com/tmp/cuttlefish-bottle-opener-prototype.jpg">Cuttlefish bottle opener, prototype model, from Bathsheba Sculpture</a></strong> <br /><em>Donated by Bathsheba Grossman</em></li>
</ul>
<h3>2013</h3>
<ul>
<li><strong>Five hours of technical help</strong>. Examples: custom website for your story, to produce a Windows installer, a performance review, a custom extension, or more<br /><em>Donated by Dannii Willis</em></li>
<li><strong>Translation of your Inform 6/7 game to French</strong> <br /><em>Donated by Hugo Labrande</em></li>
</ul>
<h3>2011</h3>
<ul>
<li><strong>A SPAG Specifics-like analysis of an IF game of your choice</strong>. (It can be your competition game, but it doesn't have to be. The game must be freely available, written in a language Victor reads, etc.)<br /><em>Donated by Victor Gijsbers</em></li>
<li><strong>Custom cover art or a digital feelie</strong>  requiring up to 5 hours of creation time<br /><em>Donated by Lea Albaugh</em></li>
<li><strong>Five hours of copyediting</strong>  good for any type of text<br /><em>Donated by Kevin Jackson-Mead</em></li>
<li><strong>Translation of your game into German</strong> <br /><em>Donated by Marius Müller</em></li>
</ul>
<h3>2010</h3>
<ul>
<li><strong>Two 3-day general admission badges to PAX East 2011</strong> <br /><em>Donated by Jack Welch</em></li>
</ul>
<h3>2009</h3>
<ul>
<li><strong>Coleman lantern keychain fob</strong> <br /><em>Donated by Madrone</em></li>
</ul>

</div>

<style>
h3 { color: silver }
</style>