<div class="container">
<h1>Previous IFComp prize pools</h1>

<p>This page lists the contents (minus duplicates) of the <a href="/about/prizes">IFComp prize pool</a> since 2009; all have been awarded to authors from their respective years' competitions. Those interested in <a href="/about/prizes#donatingprizes">donating prizes this year</a> can feel free to take inspiration from this list &mdash; or suggest something entirely different.</p>

<h2>Books and Magazines</h2>
<h3>2022</h3>
<ul>
<li><strong><a href="https://j-nelson.net/a-man-named-baskerville/">A Man Named Baskerville</a>.</strong> A copy of A Man Named Baskerville (Kindle or paperback)<br /><em>Donated by Jim Nelson</em></li>
<li><strong><a href="https://j-nelson.net/bridge-daughter/">Bridge Daughter</a>.</strong> A copy of Bridge Daughter (Kindle or paperback)<br /><em>Donated by Jim Nelson</em></li>
</ul>
<h3>2021</h3>
<ul>
<li><strong><a href="https://juiced.gs/subscribe/">One-year subscription to "Juiced.GS", the quarterly Apple ][ journal</a></strong> <br /><em>Donated by Ken Gagne</em></li>
<li><strong><a href="https://www.amazon.com//dp/1982140348/">Planning Your Escape: Strategy Secrets to Make You an Escape Room Superstar, by L. E. Hall</a></strong> <br /><em>Donated by Brett Witty</em></li>
<li><strong><a href="https://www.amazon.com/dp/B079R8G8VT/">Bridge Daughter, a novel by Jim Nelson</a>.</strong> Kindle edition.<br /><em>Donated by Jim Nelson</em></li>
<li><strong><a href="https://www.amazon.com/dp/B0874XGQ54">The Bridge Daughter Cycle, a set of three novels by Jim Nelson</a>.</strong> Kindle edition.<br /><em>Donated by Jim Nelson</em></li>
<li><strong><a href="https://www.amazon.com/dp/B08B74ZC44/">In My Memory Locked, a novel by Jim Nelson</a>.</strong> Kindle or paperback edition.<br /><em>Donated by Jim Nelson</em></li>
<li><strong><a href="https://www.amazon.com/dp/B08NF1QXY9/">Man in the Middle, a novel by Jim Nelson</a>.</strong> Kindle or paperback edition.<br /><em>Donated by Jim Nelson</em></li>
<li><strong><a href="https://www.ammonitepress.com/sherlock-holmes-escape-book-the-the-adventure-of-the-london-waterworks/">The Sherlock Holmes escape books "The Adventure of the London Waterworks" and "The Adventure of the British Museum"</a>.</strong> The two books are offered together as a single prize, and both can be found at the site above.<br /><em>Donated by Anonymous</em></li>
<li><strong>A Mind Forever Voyaging: A History of Storytelling in Video Games, by Dylan Holmes</strong> <br /><em>Donated by Mike Spivey</em></li>
<li><strong>A copy of the January 2009 issue of Fantasy & Science Fiction magazine.</strong> The issue features the short story "An Elvish Sword of Great Antiquity" by Jim Aikin, a frequent IF contributor<br /><em>Donated by Paul O'Brian</em></li>
<li><strong>Adventure Games: Playing the Outsider, by Aaron Reed / John T. Murray / Anastasia Salter.</strong> Paperback, 2020 edition<br /><em>Donated by Andrew Plotkin</em></li>
<li><strong>Creating Interaction Fiction with Inform 7, by Aaron Reed.</strong> Paperback, 2011 edition<br /><em>Donated by Andrew Plotkin</em></li>
<li><strong>Power Up: Unlocking the Hidden Mathematics in Video Games, by Matthew Lane</strong> <br /><em>Donated by Mike Spivey</em></li>
<li><strong>Procedural Generation in Game Design, ed. Tanya X. Short and Tarn Adams.</strong> Paperback, 2017 edition<br /><em>Donated by Andrew Plotkin</em></li>
</ul>
<h3>2020</h3>
<ul>
<li><strong><a href="https://juiced.gs/">One-year subscription to "Juiced.GS", the quarterly Apple ][ journal</a></strong> <br /><em>Donated by Ken Gagne</em></li>
<li><strong><a href="https://ninepinpress.com/lianna">Lianna Fled the Cranberry Blog: A Story in Cootie Catchers, by GennaRose Nethercott</a></strong> <br /><em>Donated by Jedediah Berry</em></li>
<li><strong><a href="https://www.amazon.com/Binomial-Identities-Discrete-Mathematics-Applications/dp/0815379420">The Art of Proving Binomial Identities, by Mike Spivey</a>.</strong> Signed by the author, with a personal inscription made out to the winner<br /><em>Donated by Mike Spivey</em></li>
<li><strong><a href="https://www.amazon.com/Book-Word-Games-Quick-Learn/dp/0963878476/">The Book of Word Games, by David Parlett</a>.</strong> Paperback copy<br /><em>Donated by Sarah Willson</em></li>
<li><strong><a href="https://www.amazon.com/Chris-Crawford-Interactive-Storytelling/dp/B004HP3SE4">Chris Crawford on Interactive Storytelling, by Chris Crawford</a>.</strong> First edition. In very good condition.<br /><em>Donated by Bill Maya</em></li>
<li><strong><a href="https://www.amazon.com/Inform-Designers-Manual-Graham-Nelson/dp/0971311935">Inform Design Manual, by Graham Nelson (4th edition)</a>.</strong> Hardcover copy in excellent condition<br /><em>Donated by Jack Welch</em></li>
<li><strong><a href="https://www.amazon.com/Ready-Okay-Adam-Cadre/dp/0060195584">Ready, Okay!, by Adam Cadre</a>.</strong> Hardcover copy, in very good condition<br /><em>Donated by Nathan Simpson</em></li>
</ul>
<h3>2019</h3>
<ul>
<li><strong><a href="http://gamewrap.interactiveliterature.org/">Game Wrap: the Art and Craft of LARP, Volumes 1-3, published by New England Interactive Literature</a>.</strong> Print editions.<br /><em>Donated by Xavid</em></li>
<li><strong><a href="https://amzn.to/2m4JL9D">Terrible Nerd, by Kevin Savetz</a>.</strong> Paperback or Kindle version. Two copies of the prize are available.<br /><em>Donated by Eaten By A Grue podcast</em></li>
<li><strong><a href="https://juiced.gs/store/subscription/">A subscription for 2020 to the Apple II magazine Juiced.GS.</a></strong> <br /><em>Donated by Ken Gagne</em></li>
<li><strong><a href="https://www.amazon.com/Advanced-Game-Narrative-Toolbox/dp/1138499633">Advanced Game Narrative Toolbox, by Tobias Heussner</a>.</strong> Softcover book edition. Delivered by Amazon.<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://www.amazon.com/gp/product/1138595306?pf_rd_p=2d1ab404-3b11-4c97-b3db-48081e145e35&pf_rd_r=KYZFFKZJ8ZEG4HS6FYW4">Procedural Storytelling in Game Design, by Tanya X. Short</a>.</strong> Softcover book edition, delivered by Amazon.<br /><em>Donated by Anonymous</em></li>
<li><strong>The Infocom novels 'Planetfall' and 'Stationfall' by Arthur Byron Cover.</strong> Secondhand paperback copies. This prize is reserved, at the request of the donor, for the top-ranked sci-fi game in the competition.<br /><em>Donated by Robin Johnson</em></li>
</ul>
<h3>2018</h3>
<ul>
<li><strong><a href="http://gamewrap.interactiveliterature.org/">Game Wrap: The Art and Craft of LARP, volumes 1 and 2. Published by New England Interactive Literature</a>.</strong> Print editions<br /><em>Donated by Xavid</em></li>
<li><strong><a href="https://amzn.to/2M6GY72">The Writer’s Map: An Atlas of Imaginary Lands</a>.</strong> Hardcover edition, delivered by Amazon<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://amzn.to/2oJMH9A">Videogames: Design / Play / Disrupt</a>.</strong> Delivered by Amazon<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://amzn.to/2wB4sfZ">Wonderbook, a book about writing by Jeff Vandermeer</a>.</strong> Paperback edition, delivered by Amazon<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://juiced.gs/store/one-year-subscription/">One-year subscription for 2019 to the Apple II Magazine "Juiced.GS"</a></strong> <br /><em>Donated by Ken Gagne</em></li>
<li><strong><a href="https://www.drivethrurpg.com/browse/pub/10711/Espionage-Party">Any Espionage Party LARP, in PDF format</a></strong> <br /><em>Donated by Xavid</em></li>
<li><strong><a href="https://www.drivethrurpg.com/product/134196/Chuubos-Marvelous-WishGranting-Engine">Chuubo's Marvelous Wish-Granting Engine, a tabletop RPG by Jenna Moran</a>.</strong> Hardcover copy<br /><em>Donated by Xavid</em></li>
<li><strong>Ancillary Justice, a sci-fi novel by Ann Leckie</strong> <br /><em>Donated by Xavid</em></li>
<li><strong>Autographed copy of "A Gentleman's Murder," made out to the recipient</strong> <br /><em>Donated by Christopher Huang</em></li>
<li><strong>How to Speak Klingon, by Ben Grossblatt</strong> <br /><em>Donated by Emmett Plant</em></li>
<li><strong>Outfox, a science-fiction action thriller by Peregrine Wade.</strong> In.mobi,.epub, or PDF format<br /><em>Donated by Peregrine Wade</em></li>
</ul>
<h3>2017</h3>
<ul>
<li><strong><a href="http://a.co/57VviL6"><em>Procedural Generation in Game Design</em> (ed. Tanya X. Short and Tarn Adams)</a></strong> <br /><em>Donated by Anonymous</em></li>
<li><strong><a href="http://a.co/iS561YF"><em>Layered</em> by Tessa Huff</a></strong> <br /><em>Donated by Anonymous</em></li>
<li><strong><a href="http://www.amazon.com/Terrible-Nerd-Kevin-Savetz/dp/1939169003"><em>Terrible Nerd</em> by Kevin Savetz</a>.</strong> In paperback or via Kindle (winner's choice)<br /><em>Donated by Eaten By A Grue podcast</em></li>
<li><strong><a href="https://juiced.gs">A 2018 subscription to Juiced.GS</a>.</strong> The quarterly Apple
][ journal.<br /><em>Donated by Ken Gagne</em></li>
<li><strong><a href="https://www.amazon.co.uk/Labyrinths-Selected-Stories-Writings-Classics/dp/0141184841/ref=sr_1_1?s=books&ie=UTF8&qid=1504824550&s"><em>Labyrinths: Selected Stories and Other Writings</em> by Jorge Luis Borges</a></strong> <br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://www.amazon.com/POSTCARD-Dorst-Author-Hardcover-Oct-29-2013/dp/B00I1D1NOA/ref=sr_1_11?s=books&ie=UTF8&qid=1505093560&sr=1"><em>S</em> by JJ Abrams and Doug Dorst</a></strong> <br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://www.amazon.com/gp/bookseries/B01947LZ8A/ref=st_afs_B01NGTJDSR"><em>The Broken Earth</em> trilogy by N.K. Jemisin</a>.</strong> New paperback copies of <em>The Fifth Season</em>, <em>The Obelisk Gate</em>, and <em>The Stone Sky</em><br /><em>Donated by Anonymous</em></li>
<li><strong><em>O-umajirushi: A 17th-Century Compendium of Samurai Heraldry</em> by Xavid "Kihō" Pretzer.</strong> in paperback<br /><em>Donated by Xavid</em></li>
<li><strong>A complete set of Janny Wurts' <em>Wars of Light and Shadow</em>, through <em>Destiny's Conflict</em></strong> <br /><em>Donated by David Cornelson</em></li>
</ul>
<h3>2016</h3>
<ul>
<li><strong><a href="http://www.amazon.com/Terrible-Nerd-Kevin-Savetz/dp/1939169003"><em>Terrible Nerd</em> by Kevin Savetz</a>.</strong> In paperback or via Kindle (winner's choice).<br /><em>Donated by Kevin Savetz</em></li>
<li><strong><a href="http://www.blacksteps.tv/books-and-ebooks/"><em>Bali Wave Ghost</em> and <em>I Ate Tiong Bahru</em> by Stephen Black</a>.</strong> In ePub format<br /><em>Donated by Stephen Black</em></li>
<li><strong><a href="http://www.computinghistory.org.uk/det/13851/Commodore-64-Adventures/"><em>Commodore 64 Adventures: A Guide to Playing and Writing Adventures</em> by Mike Crace</a></strong> <br /><em>Donated by Robin Johnson</em></li>
<li><strong><a href="http://www.computinghistory.org.uk/det/18099/"><em>The Adventurers' Companion</em> by Mike and Peter Gerrard</a>.</strong> Paperback, in good condition.<br /><em>Donated by Robin Johnson</em></li>
<li><strong><a href="https://juiced.gs">A 2017 subscription to Juiced.GS</a>.</strong> The quarterly Apple II journal<br /><em>Donated by Greenum Electronics</em></li>
<li><strong><a href="https://www.goodreads.com/book/show/22822839-the-thrilling-adventures-of-lovelace-and-babbage"><em>The Thrilling Adventures of Lovelace and Babbage</em> by Sydney Padua</a>.</strong> In hardback<br /><em>Donated by Viv Dunstan</em></li>
<li><strong><a href="https://www.goodreads.com/book/show/27209455-romeo-and-or-juliet?from_search=true&search_version=service"><em>Romeo and/or Juliet</em> by Ryan North</a></strong> <br /><em>Donated by Steph Cherrywell</em></li>
<li><strong><a href="https://www.goodreads.com/book/show/30072796-swords-v-cthulhu?from_search=true"><em>Swords v. Cthulhu</em> anthology</a>.</strong> Includes a story by IF author Caleb Wilson<br /><em>Donated by Anonymous</em></li>
</ul>
<h3>2015</h3>
<ul>
<li><strong><a href="http://breadpig.com/products/to-be-or-not-to-be"><em>To Be or Not To Be</em>, by Ryan North</a></strong> <br /><em>Donated by Viv Dunstan</em></li>
<li><strong><a href="http://juiced.gs">$27 in Juiced.GS store credit</a>.</strong> Can be used for a subscription ($19 USD / $24 Canada & Mexico / $27 international), downloadable PDFs, etc.<br /><em>Donated by Ken Gagne</em></li>
<li><strong><a href="http://www.amazon.com/Terrible-Nerd-Kevin-Savetz/dp/1939169003"><em>Terrible Nerd</em> by Kevin Savetz</a>.</strong> In paperback or via Kindle (winner's choice).<br /><em>Donated by Kevin Savetz</em></li>
<li><strong><a href="http://www.amazon.com/gp/product/0062368346"><em>A Riddle in Ruby</em> by Kent Davis</a>.</strong> Kindle or hardcover.<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="http://www.amazon.com/gp/product/0692237178"><em>The Feasts of Tre-mang</em> by Eli Brown</a>.</strong> In paperback.<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="http://www.instarbooks.com/books/videogames-for-humans.html"><em>Videogames for Humans</em>, edited by Merritt Kopas</a>.</strong> Paperback edition.<br /><em>Donated by Emily Boegheim</em></li>
<li><strong><a href="http://www.librarything.com/work/723197"><em>Programming Your Own Adventure Games in Pascal</em> by Richard C. Vile</a>.</strong> In near-mint condition. Includes a USB stick with all the book's example source.<br /><em>Donated by Stephan Peters</em></li>
<li><strong><a href="http://www.z-machine-matter.com/2011/05/dennis-wheatley-gone-wild.html">An original, 1930s Dennis Wheatley crime-dossier mystery</a>.</strong> As seen in the documentary <em>Get Lamp</em>.<br /><em>Donated by Zack Urlocker</em></li>
<li><strong><a href="https://www.goodreads.com/series/49113-wars-of-light-and-shadow">Janny Wurts' <em>The Wars of Light and Shadow</em> series, up through <em>Initiate's Trial</em></a></strong> <br /><em>Donated by David Cornelson</em></li>
<li><strong>The <em>Inform Designer's Manual</em> by Graham Nelson and the <em>Inform Beginner's Guide</em> by Firth, Kesserick and Jerz.</strong> Both in softcover.<br /><em>Donated by David Cornelson</em></li>
</ul>
<h3>2014</h3>
<ul>
<li><strong><a href="http://breadpig.com/products/to-be-or-not-to-be"><em>To Be or Not To Be</em>, by Ryan North</a>.</strong> In paperback.<br /><em>Donated by Dan Sanderson</em></li>
<li><strong><a href="http://inform7.textories.com/about/"><em>Creating Interactive Fiction with Inform 7</em>, by Aaron Reed</a>.</strong> In paperback.<br /><em>Donated by Dan Sanderson</em></li>
<li><strong><a href="http://nickm.com/twisty/"><em>Twisty Little Passages</em>, by Nick Montfort</a>.</strong> In paperback.<br /><em>Donated by Dan Sanderson</em></li>
<li><strong><a href="http://www.amazon.com/Aha-Insight-Martin-Gardner/dp/071671017X"><em>aha! Insight</em> by Martin Gardner</a>.</strong> 1978 edition, in paperback.<br /><em>Donated by Olly V.</em></li>
<li><strong><a href="http://www.amazon.com/Meanwhile-Pick-Path-Story-Possibilities/dp/B0096EIXXW"><em>Meanwhile</em>, by Jason Shiga</a>.</strong> In hardcover.<br /><em>Donated by Dan Sanderson</em></li>
<li><strong><a href="http://www.combustionbooks.org/products-page/fiction/what-lies-beneath-the-clock-tower/"><em>What Lies Beneath the Clock Tower</em>, by Margaret Killjoy</a>.</strong> In paperback.<br /><em>Donated by Dan Sanderson</em></li>
<li><strong><a href="http://www.ifwiki.org/index.php/The_Inform_Designer's_Manual"><em>The Inform Designer's Manual</em>, by Graham Nelson</a>.</strong> In hardcover; covers Inform 6.<br /><em>Donated by Dan Sanderson</em></li>
<li><strong><a href="http://www.robohara.com/commodork/"><em>Commodork: Sordid Tales of a BBS Junkie</em> by Rob O'Hara</a></strong> <br /><em>Donated by Robb Sherwin</em></li>
<li><strong><a href="http://www.z-machine-matter.com/2011/05/dennis-wheatley-gone-wild.html">A 1970s reproduction of a Dennis Wheatley crime-dossier mystery</a>.</strong> As seen in the documentary <em>Get Lamp</em>.<br /><em>Donated by Zack Urlocker</em></li>
<li><strong><a href="http://www.z-machine-matter.com/2011/05/dennis-wheatley-gone-wild.html">An original, 1930s Dennis Wheatley crime-dossier mystery</a>.</strong> As seen in the documentary <em>Get Lamp</em>.<br /><em>Donated by Zack Urlocker</em></li>
<li><strong><a href="https://juiced.gs">A 2015 subscription to Juiced.GS</a>.</strong> The quarterly Apple ][ journal.<br /><em>Donated by Ken Gagne</em></li>
</ul>
<h3>2013</h3>
<ul>
<li><strong><a href="http://www.amazon.com/Star-Wench-Anna-Anthropy/dp/0615779298/ref=sr_1_1?s=books&ie=UTF8&qid=1379161624&sr=1-1&keywords=star+wench">Star Wench</a></strong>, a Choose-Your-Own-Death book by Anna Anthropy<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="http://www.amazon.com/Terrible-Nerd-Kevin-Savetz/dp/1939169003/">Terrible Nerd</a></strong>, an autobiography of growing up nerdy in the 1980s<br /><em>Donated by Kevin Savetz</em></li>
<li><strong><a href="http://www.amazon.com/To-Be-Not/dp/0982853742">To Be OR Not To Be</a></strong>, Ryan North's Choose-Your-Own-Adventure version of Hamlet<br /><em>Donated by Anonymous</em></li>
<li><strong>A 2014 subscription to <a href="http://juiced.gs/">Juiced.GS</a></strong>, the quarterly Apple ][ journal<br /><em>Donated by Ken Gagne</em></li>
<li><strong>A copy of the Juiced.GS <a href="http://www.intfiction.org/forum/viewtopic.php?f=4&t=8577">special IF edition</a></strong> <br /><em>Donated by Ken Gagne</em></li>
</ul>
<h3>2012</h3>
<ul>
<li><strong><a href="http://www.amazon.com/Terrible-Nerd-Kevin-Savetz/dp/1939169003/">Terrible Nerd</a></strong>, an autobiography of growing up nerdy in the 1980s<br /><em>Donated by Kevin Savetz</em></li>
<li><strong><i>The Best of Creative Computing: Volume 3</i></strong>  <a href="http://www.amazon.com/The-Best-Creative-Computing-ebook/dp/B007RQORGS">for the Kindle</a><br /><em>Donated by Kevin Savetz</em></li>
<li><strong><i>The Castle Of Crossed Destinies</i> by Italo Calvino</strong> <br /><em>Donated by Viv Dunstan</em></li>
<li><strong>A 1970s reproduction of a <a href="http://www.z-machine-matter.com/2011/05/dennis-wheatley-gone-wild.html">Dennis Wheatley crime dossier</a></strong> <br /><em>Donated by Zack Urlocker</em></li>
<li><strong>A 2013 subscription to <a href="http://juiced.gs/">Juiced.GS</a></strong>, the quarterly Apple ][ journal<br /><em>Donated by Ken Gagne</em></li>
<li><strong>An original 1930s <a href="http://www.z-machine-matter.com/2011/05/dennis-wheatley-gone-wild.html">Dennis Wheatley crime dossier</a></strong> <br /><em>Donated by Zack Urlocker</em></li>
</ul>
<h3>2011</h3>
<ul>
<li><strong><a href="http://www.amazon.co.uk/Art-Game-Design-book-lenses/dp/0123694965/">The Art of Game Design</a>, by Jesse Schell</strong>  (a new copy in paperback)<br /><em>Donated by Vivienne Dunstan</em></li>
<li><strong><i><a href="http://www.robohara.com/invadingspaces/">Invading Spaces:: A Beginner's Guide to Collecting Arcade Games</a></i></strong> <br /><em>Donated by Robb Sherwin</em></li>
<li><strong><i>Flatland: A Romance of Many Dimensions</i></strong>  in hardback<br /><em>Donated by Duncan Bowsman</em></li>
<li><strong><i>Plot Versus Character</i></strong>  by Jeff Gerke, in paperback<br /><em>Donated by Paul Lee</em></li>
<li><strong><i>The IF Theory Reader</i>, <i>Interactive Storytelling</i>, and <i>A Theory of Fun for Game Design</i></strong>, all gently-used paperbacks<br /><em>Donated by Kevin Jackson-Mead</em></li>
<li><strong>A copy of <a href="http://en.wikipedia.org/wiki/Blindness_%28novel%29">Blindness</a> by José Saramago</strong> <br /><em>Donated by Leandro Ribeiro</em></li>
<li><strong>A one-year subscription to <a href="http://juiced.gs/store/subscriptions/">Juiced.GS</a></strong>, the only remaining print magazine for the Apple ][<br /><em>Donated by Ken Gagne</em></li>
<li><strong>An original <a href="http://www.z-machine-matter.com/2011/05/dennis-wheatley-gone-wild.html">Dennis Wheatley crime dossier</a> from the 1930s</strong> <br /><em>Donated by Zack Urlocker</em></li>
<li><strong>Three reproductions of <a href="http://www.z-machine-matter.com/2011/05/dennis-wheatley-gone-wild.html">Dennis Wheatley crime dossiers</a></strong> <br /><em>Donated by Zack Urlocker</em></li>
</ul>
<h3>2010</h3>
<ul>
<li><strong><i>Star Trek: The Academy -- Collision Course</i></strong>, a gently used paperback<br /><em>Donated by Paul Lee</em></li>
<li><strong><i>The Maltese Falcon</i>, by Dashiell Hammet</strong>, with photos from 1928 of the story's San Francisco locations<br /><em>Donated by Martin Wade</em></li>
<li><strong>A <a href="http://www.z-machine-matter.com/2010/10/dennis-wheatley-1936.html">softcover reprint of "Murder Off Miami"</a></strong>, as seen in the documentary Get Lamp<br /><em>Donated by Zack Urlocker</em></li>
<li><strong>Three Agatha Christie novels in hardback</strong>  ("Cards on the Table", "The MIrror Crack'd from Side to Side", and "The Mysterious Mr Quin")<br /><em>Donated by Iain Merrick</em></li>
</ul>
<h3>2009</h3>
<ul>
<li><strong><a href="http://www.akpeters.com/product.asp?ProdCode=4179">Writing for Video Game Genres</a></strong> <br /><em>Donated by J. Robinson Wheeler</em></li>
<li><strong>The Inform Designer's Manual (4th ed.)</strong>  in hardback<br /><em>Donated by Dan Sanderson</em></li>
</ul>
<h2>Clothing</h2>
<h3>2022</h3>
<ul>
<li><strong> IFComp 2004 Hoodie.</strong> A souvenir from the 2004 comp. It was listed as a 'hoodie' in the comp merch listings, but it's more like a halfway blend between hoodie and t-shirt. It's got a hood, but no pockets, and is made of thicker t-shirt material rather than sweatshirt material. The color is light blue, and the size is 2XL.<br /><em>Donated by Paul O'Brian</em></li>
</ul>
<h3>2016</h3>
<ul>
<li><strong><a href="https://www.sudara.org/collections/PUNJAMMIES">Any one item from Sudara's Punjammies collection</a>.</strong> Subject to availability at the time the prize is chosen<br /><em>Donated by Ryan Veeder</em></li>
</ul>
<h3>2015</h3>
<ul>
<li><strong><a href="http://sudara.org/collections/PUNJAMMIES">Any one item from Sudara's Punjammies collection</a>.</strong> Subject to availability at the time the prize is chosen.<br /><em>Donated by Ryan Veeder</em></li>
</ul>
<h3>2014</h3>
<ul>
<li><strong><a href="http://shop.intlprincess.org/Punjammies/">Any one item from the International Princess Project's Punjammies collection</a>.</strong> Subject to availability at the time the prize is chosen.<br /><em>Donated by Ryan Veeder</em></li>
</ul>
<h3>2012</h3>
<ul>
<li><strong>An item from the International Princess Project's <a href="http://www.punjammies.com/">Punjammies collection</a></strong> <br /><em>Donated by Ryan Veeder</em></li>
</ul>
<h3>2011</h3>
<ul>
<li><strong>A <a href="http://smartenough.org/">Smart Enough to know Better</a> Cryptozoo shirt</strong> <br /><em>Donated by Dan Beeston</em></li>
</ul>
<h2>Computer Hardware and Other Electronics</h2>
<h3>2021</h3>
<ul>
<li><strong><a href="https://imgur.com/a/dpnMPXP">A rooted Nook Simple Touch with an SD card preloaded with IF games.</a>.</strong> The device plays interactive fiction games using HunkyPunk. The donor has used it solely as a portable e-ink IF gaming device, but it also works as an e-reader running on Android 2.1. Great for people with migraines or eyestrain issues who love to play hours of IF.<br /><em>Donated by Lauren Go</em></li>
</ul>
<h3>2017</h3>
<ul>
<li><strong><a href="http://jmac.org/misc/wii.html">A well-loved Wii Console</a>.</strong> Includes 24 games<br /><em>Donated by Jason McIntosh</em></li>
</ul>
<h3>2012</h3>
<ul>
<li><strong>A <a href="http://www.makeymakey.com/">MaKey MaKey kit</a></strong> <br /><em>Donated by Anonymous</em></li>
</ul>
<h3>2009</h3>
<ul>
<li><strong>A beige USB Unicomp Model M keyboard</strong> <br /><em>Donated by Rob Dubbin</em></li>
</ul>
<h2>Conditional prizes</h2>
<h3>2022</h3>
<ul>
<li><strong><a href="https://ifdb.org/viewgame?id=5myfh1xhwfe3xo3g"> Stickers For All!</a>.</strong> All authors will be offered a fun sheet of originally-designed stickers from Brad and Alleson Buchanan's 2022 IFComp game, Esther's.<br /><em>Donated by Brad and Alleson Buchanan</em></li>
</ul>
<h3>2016</h3>
<ul>
<li><strong><a href="http://blog.ifcomp.org/post/152685368629/return-of-the-golden-banana">A Golden Banana of Discord trophy</a>.</strong> To be awarded to the winner of this year's Golden Banana of Discord prize -- the author of the game whose ratings have the highest standard deviation. Other rules and conditions apply; please see [our blog post about it](http://blog.ifcomp.org/post/152685368629/return-of-the-golden-banana) for more information.<br /><em>Donated by Hanon Ondricek</em></li>
</ul>
<h3>2015</h3>
<ul>
<li><strong>A $1,000 USD cash pool, to be distributed among the top 40 finishers.</strong> 1st place: $100; 2nd-3rd: $75; 4th-10th: $50; 11th-20th: $20; 21st-40th: $10. The donor reserves the right to modify the distribution in the case of ties, fewer than 40 entries, or other irregularities. The money will be distributed via PayPal.<br /><em>Donated by Etienne Vouga</em></li>
</ul>
<h3>2014</h3>
<ul>
<li><strong>$100 US, to be shared by the top three non-parser-based entries.</strong> $50 / $25 / $25.<br /><em>Donated by Anonymous</em></li>
<li><strong>$100 US, to be shared by the top three parser-based entries.</strong> $50 / $25 / $25. Awarded via Paypal.<br /><em>Donated by Etienne Vouga</em></li>
</ul>
<h2>Expert Services</h2>
<h3>2022</h3>
<ul>
<li><strong><a href="https://intfiction.org/t/lets-play-cragne-manor/56472"> Annotated Playthrough</a>.</strong> An annotated Lets-Play playthrough of a game of the winner's choice, publicly posted on the IntFiction forums (see the link for a previous Lets Play by the donor; choice of game subject to donor agreement if it's significantly longer than typical IF Comp length.)<br /><em>Donated by Mike Russo</em></li>
<li><strong><a href="https://midiguru.bandcamp.com/"> Game music composition</a>.</strong> Jim Aikin will compose and record up to five minutes of music to be embedded in your next game, in a post-comp release of your comp game this year, or as a soundtrack for a YouTube video that relates directly to your game(s). This can be one five-minute piece or as many as three shorter pieces. The music will be strictly synthesizers (no vocals or acoustic instruments, but there are good plugins that do piano, guitar, and drums). The style can be varied somewhat to suit your game, from ambient to jazz-oriented rock, but not hip-hop. For examples, visit midiguru.bandcamp.com. Jim Aikin must be credited for the music.<br /><em>Donated by Jim Aikin</em></li>
</ul>
<h3>2021</h3>
<ul>
<li><strong><a href="https://matthewwarner.com/2021/07/win-a-30-minute-audiobook-production-2/">A short (up to 5000 words or 30 minutes) audiobook of a story by the author</a>.</strong> Includes pre-production, narration (by the donor), and post-production of your story, with music intro & outro, suitable for distribution through Author's Republic to platforms such as Audible and iTunes. Must be claimed within one year.<br /><em>Donated by Matthew Warner</em></li>
<li><strong>A cameo appearance for yourself or a friend in the donor's next IFComp game and a special thanks in the credits.</strong> From the donor: "My last game took eight years to write: this one I’m hoping to pull together in more like two years."<br /><em>Donated by Truthcraze</em></li>
</ul>
<h3>2020</h3>
<ul>
<li><strong><a href="http://lilith.cc/~victor/dagboek/index.php/2020/09/06/two-sonnets-on-rocks/">A sonnet based on the winner's game</a>.</strong> See the link above for examples of the donor's work. Two copies of the prize are available.<br /><em>Donated by Victor Gijsbers</em></li>
<li><strong><a href="https://importantastrolab.blogspot.com/2020/09/ifcomp-2020-music-prize-info.html">One piece of commissioned music by Wade Clarke</a>.</strong> Can be for almost any purpose. See the link for conditions, last year's commission, and music samples.<br /><em>Donated by Wade Clarke</em></li>
<li><strong><a href="https://matthewwarner.com/2020/09/win-a-30-minute-audiobook-production/">A short (up to 30 minute) audiobook of a short story by the author</a>.</strong> Includes pre-production, narration (by the donor), and post-production of your story, with music intro & outro, suitable for sale on a platform of your choice. Must be claimed within one year.<br /><em>Donated by Matthew Warner</em></li>
<li><strong><a href="https://www.davidson.edu/academic-departments/digital-studies">Inclusion of winner's game in a digital studies course at Davidson College</a>.</strong> The game will be included on the donor's syllabus and taught as part of his class on video games, electronic literature, or digital culture.<br /><em>Donated by Mark Sample</em></li>
<li><strong><a href="https://www.patreon.com/verbyourenthusiasm">Hour-long episode of the podcast "Verb Your Enthusiasm" devoted to the winner's game</a>.</strong> The episode will break down the game in detail and may involve playing a section of it live on air.<br /><em>Donated by Ian Michael Waddell and Elizabeth Smyth</em></li>
<li><strong>A short (~30 minute) game based on the author's work.</strong> Must be claimed within two years. Details to be worked out with the winner.<br /><em>Donated by mathbrush</em></li>
<li><strong>Content editing or proofreading of up to 2000 words</strong> <br /><em>Donated by Alison De Almeida</em></li>
</ul>
<h3>2019</h3>
<ul>
<li><strong><a href="http://adaediting.com/">Line-editing or proofreading of up to 2000 words</a></strong> <br /><em>Donated by Alison De Almeida</em></li>
<li><strong><a href="http://avdaldesigns.com/">One piece of custom cover design or general artwork from Avdal Designs</a>.</strong> The artwork can be in the fantasy, romance, sci-fi, mystery, or related genres, though the artist specializes in fantasy artwork. It can be for personal or commercial use.<br /><em>Donated by Tia Orisney</em></li>
<li><strong><a href="https://importantastrolab.blogspot.com/2019/09/ifcomp-2019-music-prize-info.html">One piece of commissioned music by Wade Clarke</a>.</strong> For any purpose, commercial or no. The donor specialises in electronic and instrumental, but can do almost anything, except vocals.<br /><em>Donated by Wade Clarke</em></li>
<li><strong><a href="https://sarahmcmenomy.myportfolio.com/">The author’s choice of black and white or color illustration based on your work, created by Sarah McMenomy</a></strong> <br /><em>Donated by Anonymous</em></li>
<li><strong>A detailed, public essay analyzing the recipient's game, including its themes, writing, puzzles, and overall design</strong> <br /><em>Donated by Brian Rushton</em></li>
</ul>
<h3>2018</h3>
<ul>
<li><strong><a href="http://fangdraws.co.uk">A short (2-4 page) comic by the donor based on the winner's game</a>.</strong> Details to be worked out with the winner.<br /><em>Donated by Zhou Fang</em></li>
<li><strong><a href="https://adaediting.com">Two hours of proofreading or developmental editing services for any written work</a></strong> <br /><em>Donated by Alison De Almeida</em></li>
<li><strong><a href="https://sarahmcmenomy.myportfolio.com/portraits">The author’s choice of black and white or color illustration based on your work, created by Sarah McMenomy</a></strong> <br /><em>Donated by Anonymous</em></li>
<li><strong>A short (~30 minute) game based on the author's work.</strong> Must be claimed within two years. Details to be worked out with the winner.<br /><em>Donated by mathbrush</em></li>
<li><strong>Announcer-style voice work (e.g, for a Kickstarter video), about 2--5 minutes in duration.</strong> Two available. The work will be in a male, American-accented voice.<br /><em>Donated by Mischa Krilov</em></li>
</ul>
<h3>2017</h3>
<ul>
<li><strong><a href="https://sarahmcmenomy.myportfolio.com/portraits">The author’s choice of black and white or color illustration based on your work, created by Sarah McMenomy</a></strong> <br /><em>Donated by Anonymous</em></li>
<li><strong>A short (~30 minute) game based on the author's work.</strong> Must be claimed within a year. Details to be worked out with the winner.<br /><em>Donated by mathbrush</em></li>
</ul>
<h3>2015</h3>
<ul>
<li><strong><a href="http://aeriae.com/">Composition of a short work of instrumental music, for any purpose specified by the winner</a>.</strong> Prize must be redeemed within one year of claiming it. Sample work: [wadeclarke.bandcamp.com](https://wadeclarke.bandcamp.com/), [Aeriae.com](http://aeriae.com/).<br /><em>Donated by Wade Clarke</em></li>
<li><strong><a href="https://emshort.wordpress.com/contact/">A small piece based on or set in the world of your game, which might consist of a short fiction, cover art, or feelie.</a>.</strong> Details to be negotiated with the winner. The donor welcomes questions about this prize prior to its selection.<br /><em>Donated by Emily Short</em></li>
<li><strong>Translation of a Twine (or other hypertext / CYOA) game from English to German.</strong> Or vice-versa. The donor can commence work on or after January, 2016.<br /><em>Donated by Marius Müller</em></li>
</ul>
<h3>2014</h3>
<ul>
<li><strong><a href="http://travisreynolds.deviantart.com/">One full-page commissioned illustration by Travis Reynolds</a></strong> <br /><em>Donated by Benjamin Amsden</em></li>
<li><strong>Three hours of copyediting.</strong> Good for any type of digital text (Word documents, text files, string literals within program code, etc.). Includes delivery of clean diffs, as well as comments explaining changes.<br /><em>Donated by Kake</em></li>
<li><strong>Translation of a Twine game's source from English to German.</strong> Or vice-versa.<br /><em>Donated by Marius Müller</em></li>
</ul>
<h3>2012</h3>
<ul>
<li><strong>A comprehensive analysis of your game's transcripts collected during the competition</strong>, including statistics, lists of bugs and unimplemented commands, evaluation of puzzle difficulty levels and story flow, comparison to other games in the competition, recommendations for changes in future releases, and more.<br /><em>Donated by Juhana Leinonen</em></li>
<li><strong>A custom website for the top-placing game</strong>  which will support online play (as appropriate) and game download. Courtesy <a href="http://www.facebook.com/pages/AE-Jackson-Marketing/361613030577606">AE Jackson Marketing</a><br /><em>Donated by Andrew Jackson</em></li>
<li><strong>A short to medium length track of instrumental music</strong>  composed to your specifications in almost any style. Could be used in a game of yours or for any other purpose. Redeemable for a year<br /><em>Donated by Wade Clarke</em></li>
<li><strong>A translation of your game into German</strong> <br /><em>Donated by Marius Müller</em></li>
<li><strong>An adaptation of your game to the Quest engine</strong>, allowing it to run on mobile apps<br /><em>Donated by Mauricio Diaz</em></li>
<li><strong>Five hours of copyediting</strong>  good for any type of text<br /><em>Donated by Kevin Jackson-Mead</em></li>
</ul>
<h2>Food</h2>
<h3>2012</h3>
<ul>
<li><strong>A box of Belgian chocolates</strong>  (from Belgium!)<br /><em>Donated by Julia Nienaber</em></li>
<li><strong>A sturdy hamper of tea, coffee and tasty food from Fortnum & Mason, Piccadilly</strong> <br /><em>Donated by Iain Merrick</em></li>
</ul>
<h3>2010</h3>
<ul>
<li><strong>A basket of fine teas, cake, biscuits, jam and chocolates from Fortnum & Mason, Piccadilly</strong> <br /><em>Donated by Iain Merrick</em></li>
</ul>
<h2>Games</h2>
<h3>2022</h3>
<ul>
<li><strong><a href="https://gallery.guetech.org/zork0/zork0.html">Zork Zero</a>.</strong> Zork Zero (Macintosh system 6 required!) in very good condition -- it has all the original feelies.<br /><em>Donated by Matteo Vaccari</em></li>
<li><strong><a href="https://www.drivethrurpg.com/product/106247/Play-Unsafe"> Play Unsafe</a>.</strong> This is Graham's guide to improvising and storytelling in games. It's aimed at tabletop role-playing games, but worth reading for interactive fiction too.<br /><em>Donated by Graham Walmsley</em></li>
<li><strong><a href="https://www.drivethrurpg.com/product/341997/Cthulhu-Dark">Cthulhu Dark</a>.</strong> PDF edition of Cthulhu Dark, a tabletop roleplaying game of cosmic horror, in the style of H.P. Lovecraft.<br /><em>Donated by Graham Walmsley</em></li>
<li><strong><a href="https://www.getpostcurious.com/emeraldflame">The Emerald Flame</a>.</strong> A like-new copy of the narrative tabletop puzzle game The Emerald Flame. Shipped only within the US.<br /><em>Donated by Sarah Willson</em></li>
<li><strong><a href="https://www.nytimes.com/subscription/games/gift">One-year games subscription to the New York Times Crossword</a>.</strong> A one-year games subscription to the New York Times Crossword.  It has to be for a new subscriber and cannot be used to renew or extend an existing subscription.<br /><em>Donated by Nils Fagerburg</em></li>
</ul>
<h3>2021</h3>
<ul>
<li><strong><a href="http://pandamagazine.com/">One-year subscription to P&A Magazine, a bimonthly puzzle hunt by Foggy Brume</a>.</strong> Delivered as PDFs.<br /><em>Donated by Doug Orleans</em></li>
<li><strong><a href="https://wade-clarke.itch.io/leadlight-gamma">Leadlight Gamma, a horror IF game by Wade Clarke</a>.</strong> Distributed as an itch.io key. Three copies of the prize are available.<br /><em>Donated by Wade Clarke</em></li>
</ul>
<h3>2020</h3>
<ul>
<li><strong><a href="http://pandamagazine.com/">One-year subscription to P&A Magazine, a bimonthly puzzle hunt by Foggy Brume</a>.</strong> Delivered as PDFs<br /><em>Donated by Doug Orleans</em></li>
<li><strong><a href="https://imgur.com/a/5y8NUje">Lost Treasures of Infocom II, 3.5" disk version for Macintosh</a>.</strong> Box includes manual, some feelies, and flyers and other material<br /><em>Donated by Peter M. J. Gross</em></li>
<li><strong><a href="https://imgur.com/a/AT5rhcK">Spellcasting 101: Sorcerers Get All the Girls and Spellcasting 201: The Sorcerer's Appliance, by Steve Meretzky</a>.</strong> IBM-compatible versions in good condition<br /><em>Donated by Rebecca Mason</em></li>
<li><strong><a href="https://imgur.com/a/oGsCP9c">Myst, CD-ROM version for Macintosh</a>.</strong> Box includes disc, jewel case, journal, and (opened) envelope with hints<br /><em>Donated by Peter M. J. Gross</em></li>
<li><strong><a href="https://store.steampowered.com/app/1170960/The_Eye_of_Borrack/">The Eye of Borrack, a text adventure</a>.</strong> Distributed through Steam. Ten copies of the prize are available.<br /><em>Donated by Dave Hawkins</em></li>
<li><strong><a href="https://store.steampowered.com/app/321980/Hardland/">Hardland, a surreal fantasy adventure</a>.</strong> Available for Windows only. Delivered via Steam. Three copies of the prize are available.<br /><em>Donated by Mountain Sheep</em></li>
<li><strong><a href="https://store.steampowered.com/app/878020/Its_You_A_Breakup_Story/">It's You: A Breakup Story, a game for yourself and one person you never want to talk to again</a>.</strong> Distributed through Steam or itch.io. Two copies of the prize are available.<br /><em>Donated by Brook Jensen</em></li>
<li><strong>Unlock! The Island of Dr. Goorse, a tabletop escape game.</strong> In very good condition<br /><em>Donated by Sarah Willson</em></li>
</ul>
<h3>2019</h3>
<ul>
<li><strong><a href="http://pandamagazine.com/">One-year subscription to P&A Magazine, a bimonthly puzzle hunt by Foggy Brume</a>.</strong> Delivered as PDFs.<br /><em>Donated by Doug Orleans</em></li>
<li><strong><a href="https://blackarmada.com/store/">Choice of a hardcover RPG book from Black Armada, which publishes Lovecraftesque and Flotsam: Adrift Among the Stars</a>.</strong> Ordered from Black Armada to the winner’s address.<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://boardgamegeek.com/boardgame/251420/choose-your-own-adventure-house-danger">The Choose Your Own Adventure board game 'House of Danger' and the book of the same name that inspired it</a>.</strong> Both items are gently used.<br /><em>Donated by Jacqueline and Sam Ashwell</em></li>
<li><strong><a href="https://dimbulbgames.itch.io/where-the-water-tastes-like-wine">Where the Water Tastes Like Wine, by Dim Bulb Games</a>.</strong> Digital copy from itch.io.<br /><em>Donated by Xavid</em></li>
<li><strong><a href="https://emshort.blog/2019/01/29/iterating-san-tilapian-studies/">Winner’s choice of a Lovecraftian or Ruritanian-themed San Tilapian Studies kit for throwing a storytelling-themed party</a></strong> <br /><em>Donated by Emily Short</em></li>
<li><strong><a href="https://kpetker.itch.io/princess-world-short-story-edition">The tabletop RPG "Princess World," Short Story Edition</a>.</strong> In PDF format.<br /><em>Donated by Xavid</em></li>
<li><strong><a href="https://ninepinpress.com/giftbox">Ninepin Press giftbox</a>.</strong> Contains "The Family Arcana" and other card-printed games from Ninepin.<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://store.steampowered.com/app/286160/Tabletop_Simulator/">Tabletop Simulator, software for mocking up and playing custom board games</a>.</strong> Delivered via Steam.<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://store.steampowered.com/app/321980/Hardland/">Hardland, a surreal fantasy adventure, written by Chandler Groover</a>.</strong> Available for Windows only. Delivered via Steam. Five copies of the prize are available.<br /><em>Donated by Mountain Sheep</em></li>
<li><strong><a href="https://store.steampowered.com/app/512890/Elsinore/">Elsinore, a time-looping story game</a>.</strong> Delivered via Steam.<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://store.steampowered.com/app/596970/SUNLESS_SKIES/">Sunless Skies, a Gothic Horror roleplay game</a>.</strong> Delivered via Steam. Ten copies of the prize are available.<br /><em>Donated by Failbetter Games</em></li>
<li><strong><a href="https://store.steampowered.com/app/762830/Telling_Lies/">Telling Lies, the follow-up work from Sam Barlow to "Her Story"</a>.</strong> Delivered via Steam.<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://www.drivethrurpg.com/browse/pub/10711/Espionage-Party">Any Espionage Party LARP</a>.</strong> In PDF format.<br /><em>Donated by Xavid</em></li>
<li><strong><a href="https://www.drivethrurpg.com/product/134196/Chuubos-Marvelous-WishGranting-Engine">The tabletop RPG "Chuubo's Marvelous Wish-Granting Engine," by Jenna Moran</a>.</strong> Hardcover copy.<br /><em>Donated by Xavid</em></li>
<li><strong><a href="https://www.drivethrurpg.com/product/257723/Archives-of-the-Sky">Archives of the Sky, a roleplaying game by Aaron Reed</a>.</strong> Softcover book edition.<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://www.inklestudios.com/heavensvault/">Heaven's Vault, inkle’s game of archaeology and storytelling</a>.</strong> Available for Windows only. Delivered via Steam.<br /><em>Donated by Anonymous</em></li>
<li><strong>A Nintendo DS Lite (black), Nintendo DS (silver), and eight games.</strong> The systems are used and include their power cords and original styluses. The silver DS doesn't recognize cartridges, but it can still play games with the black DS via wifi. The games, which are all in-box with instruction manuals, are: Clubhouse Games, The Legend of Zelda: Phantom Hourglass, Mario Kart DS, Meteos, Professor Layton and the Diabolical Box, Professor Layton and the Unwound Future, Super Mario 64 DS, and Tetris DS.<br /><em>Donated by Jason McIntosh</em></li>
</ul>
<h3>2018</h3>
<ul>
<li><strong>"H2O: A Drop in the Ocean" early draft promotional musings and updates.</strong> Soon to launch on Kickstarter, this IF project has been a labor of love twenty years in the making.<br /><em>Donated by Brad Wind</em></li>
<li><strong><a href="http://ninepinpress.com/the-family-arcana">The Family Arcana, by Jedediah Berry</a>.</strong> Shuffle-fiction printed on a poker deck.<br /><em>Donated by Jedediah Berry</em></li>
<li><strong><a href="http://pandamagazine.com/">One-year subscription to P&A Magazine, a bimonthly puzzle hunt by Foggy Brume</a>.</strong> Delivered as PDFs<br /><em>Donated by Doug Orleans</em></li>
<li><strong><a href="http://www.inductiongame.com/">Induction, a game about time travel and paradoxes</a>.</strong> Recipient can choose a delivery method among the ones listed at the game's homepage.<br /><em>Donated by Olly Kirk</em></li>
<li><strong><a href="http://www.thornygames.com/">Dialect, a tabletop story game about language by Thorny Games</a>.</strong> Hardcover book and cards edition<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="http://www.wadjeteyegames.com/games/unavowed/">Unavowed</a>.</strong> Delivered via Steam<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://emshort.blog/2012/08/30/san-tilapian-studies-a-casual-narrative-entertainment-for-30-40-players/">San Tilapian Studies kit for hosting a narrative party game for 30-40 people</a>.</strong> Two available<br /><em>Donated by Emily Short</em></li>
<li><strong><a href="https://www.kickstarter.com/projects/1334173917/art-deck-a-collaborative-drawing-game">Art Deck, a game about drawing with friends</a></strong> <br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://www.wherethewatertasteslikewine.com/">Where the Water Tastes Like Wine</a>.</strong> Delivered via Steam<br /><em>Donated by Anonymous</em></li>
</ul>
<h3>2017</h3>
<ul>
<li><strong><a href="http://ninepinpress.com/the-family-arcana"><em>The Family Arcana</em> by Jedediah Berry</a>.</strong> Shuffle-fiction printed on a poker deck. Includes supplementary pack<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="http://pandamagazine.com/">A one-year subscription to P&A Magazine, a bimonthly puzzle hunt by Foggy Brume.</a>.</strong> Delivered as PDFs.<br /><em>Donated by Amy Swartz</em></li>
<li><strong><a href="http://pandamagazine.com/">A one-year subscription to P&A Magazine, a bimonthly puzzle hunt by Foggy Brume.</a>.</strong> Delivered as PDFs.<br /><em>Donated by Doug Orleans</em></li>
<li><strong><a href="http://store.steampowered.com/app/721300/American_Angst_Steam_Deluxe_Edition/"><em>American Angst</em> by Misha Verollet</a>.</strong> Ten of these prizes are available. Delivered via Steam.<br /><em>Donated by Misha Verollet</em></li>
<li><strong><a href="http://www.thaumistry.com/"><em>Thaumistry: In Charm's Way</em> by Bob Bates</a>.</strong> Five of these prizes are available. Delivered via Steam.<br /><em>Donated by Bob Bates</em></li>
<li><strong><a href="https://www.kickstarter.com/projects/990619951/consentacle-a-card-game-of-human-alien-intimacy?ref=thanks_link"><em>Consentacle</em> by Naomi Clark</a>.</strong> One copy after the delivery of the Kickstarter in approximately May 2018<br /><em>Donated by Anonymous</em></li>
<li><strong>The tabletop RPG <em>Chuubo's Marvelous Wish-Granting Engine</em> by Jenna Moran.</strong> in hardcover and PDF<br /><em>Donated by Xavid</em></li>
</ul>
<h3>2016</h3>
<ul>
<li><strong><a href="http://ninepinpress.com/the-family-arcana"><em>The Family Arcana</em> by Jedediah Berry</a>.</strong> Shuffle-fiction printed on a poker deck. Includes supplementary pack<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="http://pandamagazine.com/">A one-year subscription to P&A Magazine, a bimonthly puzzle hunt by Foggy Brume.</a>.</strong> Delivered as PDFs<br /><em>Donated by Doug Orleans</em></li>
<li><strong><a href="http://store.steampowered.com/app/438130">The visual novel <em>Root Double -Before Crime * After Days- Xtend Edition</em></a>.</strong> Delivered via Steam<br /><em>Donated by Roger Pepitone</em></li>
<li><strong><a href="http://www.inklestudios.com/80days/"><em>80 Days</em> by inkle</a>.</strong> For Windows and Mac. Delivered via Steam.<br /><em>Donated by verityvirtue</em></li>
<li><strong><a href="http://www.inklestudios.com/sorcery/"><em>Sorcery!</em> parts 1 and 2 by inkle</a>.</strong> For Windows and Mac. Delivered via Steam.<br /><em>Donated by verityvirtue</em></li>
<li><strong><a href="http://www.robinscottart.com/projects/the-urban-tarot/">Robin Scott's <em>Urban Tarot</em> deck</a></strong> <br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://boardgamegeek.com/boardgame/146508/time-stories"><em>T.I.M.E. Stories</em> tabletop game</a>.</strong> Fulfilled by Amazon (US or UK)<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://boardgamegeek.com/boardgame/173441/bring-your-own-book"><em>Bring Your Own Book</em> party game</a></strong> <br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://gshowitt.itch.io/royal-blood"><em>Royal Blood</em> by Grant Howitt</a>.</strong> A Tarot-based heist tabletop game<br /><em>Donated by Hannah Powell-Smith</em></li>
<li><strong><a href="https://interactivefables.itch.io/worldsmith-online"><em>Worldsmith</em> by Interactive Fables</a>.</strong> The full, paid-for edition of the game<br /><em>Donated by Anonymous</em></li>
</ul>
<h3>2015</h3>
<ul>
<li><strong><a href="http://leadlightgamma.heiresssoftware.com"><em>Leadlight Gamma</em> by Wade Clarke</a>.</strong> A new edition of Wade Clarke's 2010 IFComp entry, compatible with Mac, Windows, Linux, and iOS. Delivered via download code. (First of two copies donated.)<br /><em>Donated by Wade Clarke</em></li>
<li><strong><a href="http://leadlightgamma.heiresssoftware.com"><em>Leadlight Gamma</em> by Wade Clarke</a>.</strong> A new edition of Wade Clarke's 2010 IFComp entry, compatible with Mac, Windows, Linux, and iOS. Delivered via download code. (Second of two copies donated.)<br /><em>Donated by Wade Clarke</em></li>
<li><strong><a href="http://pandamagazine.com">A one-year subscription to <em>P&A Magazine</em>, a bimonthly puzzle hunt by Foggy Brume</a>.</strong> Delivered as PDFs.<br /><em>Donated by Doug Orleans</em></li>
<li><strong><a href="http://porpentine.itch.io/orifice"><em>Eczema Angel Orifice</em>, a compilation of Twine games by Porpentine</a>.</strong> Delivered via download code.<br /><em>Donated by Porpentine</em></li>
<li><strong><a href="https://emshort.wordpress.com/2012/08/30/san-tilapian-studies-a-casual-narrative-entertainment-for-30-40-players/">A customized <em>San Tilapian Studies</em> kit</a>.</strong> All the equipment needed to play the narrative party game San Tilapian Studies, customized for a genre/setting of your choice.<br /><em>Donated by Emily Short</em></li>
<li><strong><a href="https://www.etsy.com/uk/listing/57599834/portable-fortitude-playing-cards-55">A <em>Portable Fortitude</em> playing-card deck</a></strong> <br /><em>Donated by Anonymous</em></li>
<li><strong>A bundle of eight commercial interactive fiction titles for iOS.</strong> Includes <em>Hadean Lands</em>, <em>Lifeline</em>, <em>Choice of Robots</em>, <em>PataNoir</em>, <em>80 Days</em>, <em>Sorcery!</em>, <em>Sorcery! 2</em> and <em>Down Among the Dead Men</em><br /><em>Donated by Anonymous</em></li>
<li><strong>A bundle of ten graphical adventure games.</strong> Includes <em>Broken Sword 2: The Smoking Mirror</em>, <em>Broken Sword 5: The Serpent's Curse</em>, <em>The Raven: Legacy of a Master Thief</em>, <em>Secret Files: Tunguska</em>, <em>Stacking</em>,  <em>Syberia</em>, <em>Black Mirror</em>, <em>Shadowgate</em> (both the 1987 original and the 2014 remake), and <em>Desperados: Wanted Dead or Alive</em>. All work on Windows and Mac, except for the Windows-only <em>Tunguska</em>, <em>Black Mirror</em> and <em>Desperados</em>. Delivered digitally via Steam.<br /><em>Donated by Juhana Leinonen</em></li>
</ul>
<h3>2014</h3>
<ul>
<li><strong><a href="http://buriedwithoutceremony.com/monsterhearts/">Rulebook for the tabletop storygame <em>Monsterhearts</em></a>.</strong> Also includes the prebuilt campaign <em>The Blood of Misty Harbour</em>.<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="http://en.wikipedia.org/wiki/Classic_Text_Adventure_Masterpieces_of_Infocom"><em>Classic Text Adventure Masterpieces of Infocom</em></a>.</strong> A never-opened retail package containing 33 Infocom games on CD-ROM, as well as six "winners from the annual text adventure authorship contest" (the 1995 IFComp, in fact). Published by Activision in 1996.<br /><em>Donated by Jason McIntosh</em></li>
<li><strong><a href="http://www.amazon.com/Infocom-The-Fantasy-Collection/dp/B000A7R7CM"><em>The Fantasy Collection</em> on CD-ROM</a>.</strong> Includes the Infocom classics <em>Enchanter</em>, <em>Seastalker</em>, <em>Wishbringer</em>, <em>Sorcerer</em>, <em>Spellbreaker</em>, <em>Planetfall</em>, and <em>Zork Zero</em><br /><em>Donated by Nathan Schwartzman</em></li>
</ul>
<h3>2013</h3>
<ul>
<li><strong><i>Portal 2</i> for the XBox 360</strong>  (gently used)<br /><em>Donated by Bainespal</em></li>
<li><strong>A blue deck of <a href="http://dicecards.com/cards/">Dicecards</a></strong> <br /><em>Donated by Anonymous</em></li>
<li><strong>A red deck of <a href="http://dicecards.com/cards/">Dicecards</a></strong> <br /><em>Donated by Anonymous</em></li>
</ul>
<h3>2012</h3>
<ul>
<li><strong><a href="http://itunes.apple.com/us/app/chopsticks-novel/id497983366?mt=8"><i>Chopsticks</i></a>, an interactive ebook for iOS</strong> <br /><em>Donated by Anonymous</em></li>
<li><strong><a href="http://memento-mori.com/portfolio/parsely-2/">The Parsley 7-game collection</a></strong>, a series of party games inspired by interactive fiction<br /><em>Donated by Greg Cooksey</em></li>
<li><strong><a href="http://memento-mori.com/project/action-castle/">Action Castle and Action Castle 2</a></strong>, party games inspired by interactive fiction<br /><em>Donated by Greg Cooksey</em></li>
<li><strong><a href="http://www.kickstarter.com/projects/corvuse/bhaloidam-an-indie-tabletop-storytelling-game?ref=activity"><i>Bhaloidam</i> Skein Pack</a></strong>  (to be sent after the Kickstarter delivery date)<br /><em>Donated by Anonymous</em></li>
<li><strong><i>Day of the Tentacle</i>, <i>Sam & Max Hit the Road</i>, <i>Full Throttle</i>, and <i>The Dig</i></strong>  in CD-ROM format<br /><em>Donated by Esa Peuha</em></li>
<li><strong><i>Microscope</i>, <i>Fiasco</i>, and <i>The Shab-al-Hiri Roach</i> tabletop RPGs</strong> <br /><em>Donated by Anonymous</em></li>
<li><strong><i>Planetfall</i> for the Apple ][ in a folio package with all feelies</strong> <br /><em>Donated by Esa Peuha</em></li>
<li><strong>Minecraft: Xbox 360 edition for Xbox Live Arcade</strong> <br /><em>Donated by PlayXBLA.com</em></li>
</ul>
<h3>2010</h3>
<ul>
<li><strong>"Tales of the Arabian Nights" board game</strong> <br /><em>Donated by Gregory Cooksey</em></li>
<li><strong><a href="http://memento-mori.com/online-store/parsely-games/">Parsley #1: Action Castle</a></strong> <br /><em>Donated by Gregory Cooksey</em></li>
<li><strong>All six <a href="http://memento-mori.com/online-store/parsely-games/">Parsley games</a></strong>, which are inspired by text adventures<br /><em>Donated by Gregory Cooksey</em></li>
</ul>
<h2>Money and Gift Certificates</h2>
<h3>2022</h3>
<ul>
<li><strong><a href="https://ethereum.org/en/">€200 (Euros) in ETH (Etherium)</a>.</strong> 200 Euros, transferred via Etherium.<br /><em>Donated by Thomas Mack</em></li>
<li><strong><a href="https://www.kiva.org/"> $50 Kiva Card gift card</a>.</strong> $50 Kiva Card gift card -- can be used to make two microloans on kiva.org platform.<br /><em>Donated by Edo</em></li>
</ul>
<h3>2021</h3>
<ul>
<li><strong><a href="https://www.ethereum.org/">0.055 ETH (Ether, the Etherium cryptocurrency)</a>.</strong> Valued at approximately 148.96 EUR at the time of the donation announcement. Delivered to the recipient's cryptocurrency wallet.<br /><em>Donated by Diogenes</em></li>
</ul>
<h3>2020</h3>
<ul>
<li><strong><a href="https://www.ethereum.org/">0.3 ETH (Ether, the Ethereum cryptocurrency)</a>.</strong> Valued at approximately 113.72 USD at the time of the donation announcement. Delivered to the recipient's cryptocurrency wallet.<br /><em>Donated by Diogenes</em></li>
</ul>
<h3>2019</h3>
<ul>
<li><strong><a href="https://www.ethereum.org/">0.5 ETH (Ether, the Ethereum cryptocurrency)</a>.</strong> Valued at approximately USD 107.75 at the time of the donation announcement. Delivered to the recipient's cryptocurrency wallet.<br /><em>Donated by Diogenes</em></li>
</ul>
<h3>2018</h3>
<ul>
<li><strong><a href="https://www.donorschoose.org">$100 to the Donors Choose classroom of your choice</a></strong> <br /><em>Donated by Anonymous</em></li>
</ul>
<h3>2017</h3>
<ul>
<li><strong>$200</strong> <br /><em>Donated by Asymmetric Publications</em></li>
</ul>
<h3>2016</h3>
<ul>
<li><strong>$100</strong> <br /><em>Donated by Dave Cornelson</em></li>
<li><strong>$100</strong> <br /><em>Donated by sub-Q Magazine</em></li>
<li><strong>$200</strong> <br /><em>Donated by Anonymous</em></li>
</ul>
<h3>2015</h3>
<ul>
<li><strong>$100 US</strong> <br /><em>Donated by David Cornelson</em></li>
<li><strong>$15 US.</strong> Delivered via PayPal.<br /><em>Donated by Anonymous</em></li>
<li><strong>$150 US</strong> <br /><em>Donated by David Cornelson</em></li>
<li><strong>$200 US.</strong> Delivered via PayPal.<br /><em>Donated by Asymmetric Publications</em></li>
<li><strong>$25 US.</strong> Delivered via PayPal.<br /><em>Donated by Anonymous</em></li>
<li><strong>$250 US.</strong> Delivered via PayPal.<br /><em>Donated by Martin Braun</em></li>
<li><strong>$250 US</strong> <br /><em>Donated by David Cornelson</em></li>
<li><strong>$60 US.</strong> Delivered via PayPal.<br /><em>Donated by Anonymous</em></li>
</ul>
<h3>2014</h3>
<ul>
<li><strong>$100 US.</strong> Delivered via PayPal or gift card.<br /><em>Donated by Devolution Games</em></li>
<li><strong>$100 US.</strong> Delivered via PayPal.<br /><em>Donated by IGDb.com</em></li>
<li><strong>$15 US.</strong> Delivered via PayPal.<br /><em>Donated by Anonymous</em></li>
<li><strong>$200 US.</strong> Delivered via PayPal.<br /><em>Donated by Asymmetric Publications</em></li>
<li><strong>$25 US.</strong> Delivered via PayPal.<br /><em>Donated by Anonymous</em></li>
<li><strong>$25 US.</strong> Delivered via PayPal.<br /><em>Donated by Jonathan Snyder</em></li>
<li><strong>$50 US.</strong> Delivered via PayPal.<br /><em>Donated by Anonymous</em></li>
</ul>
<h3>2013</h3>
<ul>
<li><strong>$100 US</strong> <br /><em>Donated by Devolution IF Fund</em></li>
<li><strong>$250 US</strong> <br /><em>Donated by Bedlam X</em></li>
<li><strong>$50 US</strong> <br /><em>Donated by Anonymous</em></li>
</ul>
<h3>2012</h3>
<ul>
<li><strong>$100 Amazon gift certificate</strong> <br /><em>Donated by Ian Millington</em></li>
<li><strong>$100 Amazon gift certificate</strong> <br /><em>Donated by Joe Johnston</em></li>
<li><strong>$250</strong>  delivered via PayPal<br /><em>Donated by Anonymous</em></li>
</ul>
<h3>2011</h3>
<ul>
<li><strong>$100 Amazon gift certificate</strong> <br /><em>Donated by Joe Johnston</em></li>
<li><strong>$100 US</strong> <br /><em>Donated by Alex Warren of textadventures.co.uk</em></li>
<li><strong>$100 US</strong> <br /><em>Donated by Matt Wigdahl</em></li>
<li><strong>$50 Amazon gift certificate</strong> <br /><em>Donated by Mark Musante</em></li>
<li><strong>$500 US</strong>  sent via PayPal<br /><em>Donated by Kate McKee</em></li>
<li><strong>A $20 gift certificate to <a href="http://zunior.com/">Zunior.com</a></strong> <br /><em>Donated by Karl Ove Hufthammer</em></li>
</ul>
<h3>2010</h3>
<ul>
<li><strong>$25 gift certificate to <a href="http://amazon.com">Amazon</a></strong> <br /><em>Donated by Joe Johnston</em></li>
<li><strong>$400</strong>, payable via PayPal<br /><em>Donated by Martin Braun</em></li>
<li><strong>$450</strong>, payable via PayPal<br /><em>Donated by Kate McKee</em></li>
<li><strong>$50 gift certificate to Amazon</strong> <br /><em>Donated by Mark Musante</em></li>
<li><strong>$75 gift certificate to <a href="http://amazon.com">Amazon</a></strong> <br /><em>Donated by Joe Johnston</em></li>
<li><strong>A three-month subscription to <a href="http://magnatune.com">Magnatune</a></strong>  (a $45 value)<br /><em>Donated by Karl Ove Hufthammer</em></li>
</ul>
<h3>2009</h3>
<ul>
<li><strong>$100 US</strong>  via PayPal<br /><em>Donated by Stefan Donati</em></li>
<li><strong>$25 Magnatune.com gift card</strong> <br /><em>Donated by Karl Ove Hufthammer</em></li>
<li><strong>$30 Amazon.com gift certificate</strong> <br /><em>Donated by Mark Allums</em></li>
<li><strong>$300 US</strong>  via PayPal<br /><em>Donated by John Miles</em></li>
<li><strong>$350 US</strong>  via PayPal<br /><em>Donated by Kate McKee</em></li>
<li><strong>$50 Amazon.com gift certificate</strong> <br /><em>Donated by Mark Musante</em></li>
<li><strong>$500 US</strong>  via PayPal<br /><em>Donated by Martin Braun</em></li>
</ul>
<h2>Music and Movies</h2>
<h3>2016</h3>
<ul>
<li><strong><a href="http://www.cdbaby.com/cd/3how"><em>The Riverwalk Session</em> by 3how</a>.</strong> Delivered digitally<br /><em>Donated by Stephen Black</em></li>
</ul>
<h3>2013</h3>
<ul>
<li><strong>A full set of <i>The Wire</i> on DVD</strong>, gently used<br /><em>Donated by Marius Müller</em></li>
<li><strong>The Very Best of Eurovision Song Contest</strong>  (Australian imprint; double CD)<br /><em>Donated by Wade Clarke</em></li>
</ul>
<h3>2012</h3>
<ul>
<li><strong><a href="http://www.getlamp.com/"><i>Get Lamp</i></a>, the adventure game documentary</strong> <br /><em>Donated by Greg Cooksey</em></li>
<li><strong><a href="http://www.pouet.net/prod.php?which=59192"><i>Drift</i> Apple ][ music disk</a></strong>  on 5.25" floppy in a custom, hand-made floppy disk sleeve<br /><em>Donated by Juiced.GS</em></li>
</ul>
<h3>2010</h3>
<ul>
<li><strong>GET LAMP</strong> <br /><em>Donated by Gregory Cooksey</em></li>
</ul>
<h3>2009</h3>
<ul>
<li><strong><a href="http://www.cthulhulives.org/store/store.lasso?1=product&2=8">The Call of Cthulhu</a> movie</strong>  on DVD<br /><em>Donated by Marius M&uuml;ller</em></li>
</ul>
<h2>Non-Game Software</h2>
<h3>2022</h3>
<ul>
<li><strong><a href="https://www.articy.com/">One-year voucher to articy:draft 3</a>.</strong> (This prize can be selected by up to THREE winners.)  A one year voucher for articy:draft 3 -- the interactive storytelling tool used in award-winning narrative games such as Disco Elysium, Suzerain, Gamedec and many more. Great for game writers and narrative designers to keep track of their storylines and manage narrative content in a visual and writer-friendly way.<br /><em>Donated by Articy Software</em></li>
</ul>
<h3>2016</h3>
<ul>
<li><strong><a href="https://juiced.gs/store/opus-ii-software/">A copy of Opus ][: The Software</a>.</strong> A collection of Apple II software and documentation from Byte Works (source inlcuded)<br /><em>Donated by Ken Gagne</em></li>
</ul>
<h3>2011</h3>
<ul>
<li><strong><a href="http://www.kickstarter.com/projects/1139274522/seven-fables-v10-tales-from-a-distant-island"><i>The Seven Fables</i></a> for iPad</strong>  (when it is released)<br /><em>Donated by Emily Short</em></li>
<li><strong>Any one item from the <a href="http://www.adobe.com/products/creativesuite.html">Adobe Creative Suite</a></strong>  for Windows or Mac<br /><em>Donated by Eric Sanders</em></li>
</ul>
<h3>2010</h3>
<ul>
<li><strong>A custom WordPress template/theme for home page, single, and article pages</strong> <br /><em>Donated by <a href="http://speakinginvector.com/">Amber Hansford</a></em></li>
</ul>
<h3>2009</h3>
<ul>
<li><strong>Windows 7 Ultimate</strong> <br /><em>Donated by David Cornelson</em></li>
</ul>
<h2>Stuff</h2>
<h3>2022</h3>
<ul>
<li><strong><a href=" https://www.zazzle.com/">Zazzle loot</a>.</strong> (This prize can be selected by up to TEN winners.) Author's choice of one of the following: <ul> <li> IFComp 2022 two-tone large coffee mug: https://www.zazzle.com/2022<em>ifcomp</em>two<em>tone</em>large<em>coffee</em>mug-168669988375051249 </li> <li> IFComp 2022 unisex t-shirt: https://www.zazzle.com/2022<em>ifcomp</em>unisex<em>t</em>shirt-235276456655600104 </li> <li> IFComp 2022 magnet + poster (24 inch square): https://www.zazzle.com/ifcomp<em>2022</em>magnet-147362660936380331 and https://www.zazzle.com/ifcomp<em>2022</em>24<em>x</em>24_poster-228226804683910973 </li> </ul><br /><em>Donated by IFComp</em></li>
<li><strong><a href="https://juiced.gs/store/subscription/">Subscription to Juiced.GS</a>.</strong> A 2023 subscription to Juiced.GS, the last remaining print publication dedicated to the Apple II computer (value $20–28).<br /><em>Donated by Ken Gagne</em></li>
<li><strong><a href="https://zarfhome.com/press/hadean_lands.html">Hadean Lands poster</a>.</strong> A Hadean Lands poster; international shipping okay.<br /><em>Donated by Jacqueline Ashwell</em></li>
</ul>
<h3>2021</h3>
<ul>
<li><strong><a href="https://www.zazzle.com/collections/ifcomp_2021-119377973086250371">IFComp 2021 Merchandise from the IFComp 2021 Zazzle Collection</a>.</strong> One or more pieces of 2021 IFComp swag from Zazzle (up to $25 total in merchandise + up to $10 shipping credit). If what you want isn't already in the collection (maybe you'd like a trucker hat or cooking apron rather than a t-shirt), let us know. International orders may require the author to chip in on shipping costs. Five copies of the prize are available.<br /><em>Donated by Jacqueline Ashwell</em></li>
</ul>
<h3>2020</h3>
<ul>
<li><strong><a href="http://wingssilverwork.com/category/all/otherartists/sculpture/">Up to $400 worth of jewellery, pottery, sculpture, or other selections from NDN Silver by Wings</a></strong> <br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://chicagofrenchpress.com/collections/8oz-bags">Three 8-oz. bags of coffee, in flavours of the winner’s choice, from Chicago French Press</a></strong> <br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://imgur.com/a/01i5Knv">Felt frog doll</a>.</strong> Sewn by the donor. Approximately five inches long.<br /><em>Donated by Ryan Veeder</em></li>
<li><strong><a href="https://imgur.com/a/7Cc92rg">Felt cockatrice doll</a>.</strong> Sewn by the donor. Approximately 8 inches tall and 10 inches long.<br /><em>Donated by Ryan Veeder</em></li>
<li><strong><a href="https://imgur.com/a/8CehuAQ">Cast glass sculptural paperweight designed and fabricated by the donor</a></strong> <br /><em>Donated by Bathsheba</em></li>
<li><strong><a href="https://imgur.com/a/Zzb8qzw">Custom-made Infocom-style feelies based on the author's work</a>.</strong> The prize will include about three or four items such as in-universe documents, maps, printed booklets, etc. The link above shows some of the donor's feelies for other games.<br /><em>Donated by Robin Johnson</em></li>
<li><strong><a href="https://wonderbox.digital/">A week's worth of featured advertising on the home page of Wonderbox.digital, a marketplace for digital and interactive fiction</a></strong> <br /><em>Donated by Wonderbox Digital</em></li>
<li><strong><a href="https://www.ivystea.com/collections/tea/products/sister-sister">Choice of one tea and one honey, in flavours of the winner’s choice, from Ivy’s Tea</a></strong> <br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://www.zazzle.com/collections/ifcomp_2020-119129926549665039">IFComp 2020 Merchandise from the IFComp 2020 Zazzle Collection</a>.</strong> One or more pieces of 2020 IFComp swag from Zazzle (up to $25 total in merchandise + up to $10 shipping credit). If what you want isn't already in the collection (maybe you'd like a trucker hat rather than a t-shirt, or something in black rather than in pink), let us know. International orders may require the author to chip in on shipping costs. Five copies of the prize are available.<br /><em>Donated by Jacqueline Ashwell</em></li>
<li><strong>A (new) wooden Soma cube puzzle</strong> <br /><em>Donated by Jessica Knoch</em></li>
</ul>
<h3>2019</h3>
<ul>
<li><strong><a href="https://blackphoenixalchemylab.com/">5 ml of perfume oil from Black Phoenix Alchemy Lab</a>.</strong> Winner's choice of scent.<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://www.donorschoose.org/">$100 donation to the Donors Choose classroom of the winner's choice</a></strong> <br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://www.flickr.com/photos/pjchmiel/2424040707">A 23"x29" poster reproduction of Max Kaemper's 1908 map of Mammoth Cave</a>.</strong> The donor will purchase the item from the Cave Research Foundation and have it shipped anywhere within the United States.<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="https://www.redbubble.com/people/hanonondricek/works/40171230-official-cardinalcorporation">An official "Associates Only" Cardinal Corporation beverage mug</a>.</strong> Fulfilled via RedBubble. Printed and shipped locally in most countries.<br /><em>Donated by Hanon Ondricek</em></li>
<li><strong><a href="https://www.zazzle.com/25th_ifcomp_mug-168294345248812301">25th IFComp mug</a>.</strong> Three copies of the prize are available.<br /><em>Donated by Amy Swartz</em></li>
<li><strong>A fossilized ammonite.</strong> Can be shipped globally.<br /><em>Donated by Jack Welch</em></li>
</ul>
<h3>2018</h3>
<ul>
<li><strong><a href="https://eblong.com/zarf/pic/IFComp-2018-tile-s.jpeg">A 4x4" glass tile etched with a stylized lantern and "IFComp 2018."</a>.</strong> Pink dichroic glass with green accents. Includes a little holder frame if
you want to hang it on the wall. Would also make a nice coaster. Designed by Andrew Plotkin; production by Bathsheba Grossman.<br /><em>Donated by Andrew Plotkin</em></li>
<li><strong><a href="https://shop.jenis.com/pick-your-own-mix">3 pints of Jeni’s ice cream in the winner’s choice of flavors</a>.</strong> Shipping arranged at a time convenient to the recipient. Ships to the continental US only.<br /><em>Donated by Anonymous</em></li>
<li><strong>Coprolite from Madagascar, roughly seven inches long and from an unknown animal</strong> <br /><em>Donated by Jack Welch</em></li>
</ul>
<h3>2017</h3>
<ul>
<li><strong><a href="http://donorschoose.org">$100 donation to the Donors Choose classroom of winner's choice</a></strong> <br /><em>Donated by Anonymous</em></li>
<li><strong><a href="http://www.indiecade.com/Submissions">Coverage of regular submission fees for submitting their game to the next IndieCade/IndieCade East/etc. event</a>.</strong> Sent to the author via Paypal. Currently a $95 value.<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="http://www.paravia.com/catalog/">Any piece of art from Maitz & Wurts' studio shop</a></strong> <br /><em>Donated by David Cornelson</em></li>
<li><strong><a href="https://www.kickstarter.com/projects/zarf/hadean-lands-interactive-fiction-for-the-iphone"><em>Hadean Lands</em> kickstarter-exclusive poster</a></strong> <br /><em>Donated by Anonymous</em></li>
</ul>
<h3>2016</h3>
<ul>
<li><strong><a href="http://wadeclarke.com/resources/framed_cartoon.jpg">A framed, original cartoon about game-modeling wizardry by Wade Clarke</a>.</strong> On A4 paper<br /><em>Donated by Wade Clarke</em></li>
<li><strong><a href="http://www.paravia.com/catalog/">Any piece of art from the Janny Wurts & Don Maitz web store</a>.</strong> First of two works donated.<br /><em>Donated by Dave Cornelson</em></li>
<li><strong><a href="http://www.paravia.com/catalog/">Any piece of art from the Janny Wurts & Don Maitz web store</a>.</strong> Second of two works donated.<br /><em>Donated by Dave Cornelson</em></li>
<li><strong><a href="http://www.somethingstore.com">Two surprise items from the SomethingStore</a></strong> <br /><em>Donated by Tia Orisney</em></li>
<li><strong><a href="https://dl.dropboxusercontent.com/u/15528558/middle_earth_subway.jpg">A Middle-Earth transit-map poster</a>.</strong> 21 by 17 inches, printed on heavy matte paper, in good used condition<br /><em>Donated by Olly Kirk</em></li>
</ul>
<h3>2015</h3>
<ul>
<li><strong><a href="http://bathsheba.com/tmp/pix/apollo%20voyager.jpg">A pair of Space Cubes from Bathsheba Sculpture</a>.</strong> Two 60mm glass cubes containing 3D laser etchings of the Apollo lunar lander and the Voyager probe, respectively.<br /><em>Donated by Bathsheba Grossman</em></li>
<li><strong><a href="http://blackphoenixalchemylab.com/">Any scent from Black Phoenix Alchemy Lab</a>.</strong> A 5 ml bottle of the winner's choice.<br /><em>Donated by Anonymous</em></li>
<li><strong><a href="http://mysteriouspackage.com">A sequence of unexplained mailings from the Mysterious Package Company</a></strong> <br /><em>Donated by Anonymous</em></li>
<li><strong><a href="http://www.paravia.com/catalog/">Any single piece of artwork from Janny Wurts and Don Maitz web store</a></strong> <br /><em>Donated by David Cornelson</em></li>
<li><strong><a href="https://dl.dropboxusercontent.com/u/15528558/zork_poster_2015.jpg">A 16-by-21-inch reproduction of a 1981 <em>Zork</em> poster</a></strong> <br /><em>Donated by Olly Kirk</em></li>
</ul>
<h3>2014</h3>
<ul>
<li><strong><a href="http://bathsheba.com/tmp/cuttlefish-bottle-opener-prototype.jpg">Cuttlefish bottle opener, prototype model, from Bathsheba Sculpture</a></strong> <br /><em>Donated by Bathsheba Grossman</em></li>
</ul>
<h3>2013</h3>
<ul>
<li><strong>Five hours of technical help</strong>. Examples: custom website for your story, to produce a Windows installer, a performance review, a custom extension, or more<br /><em>Donated by Dannii Willis</em></li>
<li><strong>Translation of your Inform 6/7 game to French</strong> <br /><em>Donated by Hugo Labrande</em></li>
</ul>
<h3>2011</h3>
<ul>
<li><strong>A SPAG Specifics-like analysis of an IF game of your choice</strong>. (It can be your competition game, but it doesn't have to be. The game must be freely available, written in a language Victor reads, etc.)<br /><em>Donated by Victor Gijsbers</em></li>
<li><strong>Custom cover art or a digital feelie</strong>  requiring up to 5 hours of creation time<br /><em>Donated by Lea Albaugh</em></li>
<li><strong>Five hours of copyediting</strong>  good for any type of text<br /><em>Donated by Kevin Jackson-Mead</em></li>
<li><strong>Translation of your game into German</strong> <br /><em>Donated by Marius Müller</em></li>
</ul>
<h3>2010</h3>
<ul>
<li><strong>Two 3-day general admission badges to PAX East 2011</strong> <br /><em>Donated by Jack Welch</em></li>
</ul>
<h3>2009</h3>
<ul>
<li><strong>Coleman lantern keychain fob</strong> <br /><em>Donated by Madrone</em></li>
</ul>


</div>

<style>
h3 { color: silver }
</style>
