Greetings, [% user.name %],

Thank you for registering a new account with the IFComp website! In order to log in with your account, you must validate your email address with us by following this link:

http://ifcomp.org/user/validate/[% user.id %]/[% user.access_token %]

Validating will log you into ifcomp.org, and allow you to sign on freely in the future. Once validated, you may also use this account with the XYZZY Awards and Introcomp websites.

See you online!
