body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

.label-first-place {
    background-color: #428bca
}

.label-second-place {
    background-color: #d9534f
}

.label-third-place {
    background-color: gold
}

.label-fourth-through-tenth-place {
    background-color: #5bc0de
}

.label-enth-place {
    background-color: #999
}

img.author-link {
    width: 20px;
    vertical-align: top;
}

/* Override Bootstrap */
code {
    background: none;
    color: black;
}

.page-header h1 {
  padding-top: 60px;
  margin-top: -60px;
}

a.donate-link {
    color: #5EB75F !important;
}

a.donate-link:hover {
    color: white !important;
}

/* Use dark mode link colors on navbar */
.navbar-inverse .navbar-right > a {
	color: #6ae;
}
.navbar-inverse .navbar-right > a:hover {
	color: #acd0f6;
}

select {
	background-color: #fff;
	color: inherit;
}

option:checked {
	background-color: #bbb;
	color: #222;
}

[data-theme="dark"] {
    background-color: #111 !important;
    color: #eee;
}

[data-theme="dark"] .jumbotron {
    background-color: #111 !important;
    color: #eee;
}

[data-theme="dark"] a {
    color: #6ae;
}

[data-theme="dark"] a:hover {
	color: #acd0f6;
}

[data-theme="dark"] .form-control {
    background-color: #222;
	border-color: #555;
    color: #eee;
}

[data-theme="dark"] .form-control:focus {
  border-color: #66afe9;
}

[data-theme="dark"] .panel {
  background-color: #111;
}

[data-theme="dark"] .panel-default {
  border-color: #444;
}

[data-theme="dark"] .panel-heading {
    background-color: #333;
    color: #eee;
	border-color: #444;
}

[data-theme="dark"] .panel-body {
    background-color: #222;
    color: #eee;
	border-color: #444;
}

[data-theme="dark"] .mode-toggle-link {
    border-radius: 25px;
    color: #222;
}

[data-theme="dark"] .alert-info {
    background-color: #114;
	border-color: #271c6e;
    color: #eee;
}

[data-theme="dark"] .alert-info a {
    color: #8bf;
}

[data-theme="dark"] .alert-info a:hover {
    color: #b3d4ff;
}

[data-theme="dark"] .alert-warning {
    background-color: #333;
    color: #db8;
    border-color: #555;
}

[data-theme="dark"] .alert-success {
	background-color: #274511;
	border-color: #3e6d1c;
	color: #d2f4be;
}

[data-theme="dark"] .alert-danger {
	background-color: #451211;
	border-color: #6d1e1c;
	color: #f4bebe;
}

[data-theme="dark"] .label {
    color: #222;
}

[data-theme="dark"] .pager li>a {
    background-color: #222;
	border-color: #444;
    color: #8bf;
}

[data-theme="dark"] .pager li>a:hover {
	background-color: #333;
	color: #b3d4ff;
}

[data-theme="dark"] .btn-default {
    background-color: #222;
	border-color: #555;
    color: #8bf;
}

[data-theme="dark"] .btn-default:hover, [data-theme="dark"] .btn-default:active {
	background-color: #3d3d3d;
	border-color: #696969;
	color: #acd0f6;
}

[data-theme="dark"] .btn-default:active:hover {
	background-color: #4f4f4f;
	border-color: #7b7b7b;
}

[data-theme="dark"] .btn-primary {
    background-color: #225;
	border-color: #2e2e7f;
    color: #8bf;
}

[data-theme="dark"] .btn-primary:hover, [data-theme="dark"] .btn-primary:active {
	background-color: #2d2d7c;
	border-color: #363696;
}

[data-theme="dark"] .btn-primary:active:hover, [data-theme="dark"] .btn-primary:active:focus {
	background-color: #363696;
	border-color: #44b;
	color: #b3d4ff;
}

[data-theme="dark"] .btn-success {
	background-color: #215421;
	border-color: #2b692b;
	color: #d2f9d2;
}

[data-theme="dark"] .btn-success:hover, [data-theme="dark"] .btn-success:active {
	background-color: #2a6a2a;
	border-color: #327b32;
}

[data-theme="dark"] .btn-success:active:hover, [data-theme="dark"] .btn-success:active:focus {
	background-color: #327b32;
	border-color: #378637;
	color: #e9fce9;
}

[data-theme="dark"] .btn-danger {
	background-color: #732a26;
	border-color: #8e322f;
	color: #f9d3d2;
}

[data-theme="dark"] .btn-danger:hover, [data-theme="dark"] .btn-danger:active {
	background-color: #8e322f;
	border-color: #a13936;
}

[data-theme="dark"] .btn-danger:active:hover, [data-theme="dark"] .btn-danger:active:focus {
	background-color: #a13936;
	border-color: #ac3d39;
	color: #fce4e3;
}

[data-theme="dark"] .pagination>li>a {
    background-color: #222;
    color: #eee;
    border-color: #666;
}

[data-theme="dark"] .pagination>.active>a {
    background-color: #444;
    color: #eee;
    border-color: #666;
}

[data-theme="dark"] .fake-link {
    color: #88f;
}

[data-theme="dark"] .dropdown-menu {
    background-color: #222;
}

[data-theme="dark"] .dropdown-menu>li>a {
    color: #aaa;
}

[data-theme="dark"] .dropdown-menu>li>a:hover {
    color: #ddd;
    background-color: #444;
}

[data-theme="dark"] .dropdown-menu .divider {
  background-color: #404040;
}

[data-theme="dark"] img.author-link {
    filter: invert(1);
}

[data-theme="dark"] img.download-img-link {
    content: url("/static/images/download_all-dm.svg");
}

[data-theme="dark"] img.judge-img-link {
    content: url("/static/images/judge-dm.svg");
}

[data-theme="dark"] .highcharts-background {
    fill: #111;
}

[data-theme="dark"] .highcharts-subtitle,
.highcharts-credits, .highcharts-container text,
.highcharts-axis-title {
    stroke: #ccc;
}

[data-theme="dark"] .highcharts-color-1 {
    fill: #9696ab;
    stroke: #9696ab;
}

[data-theme="dark"] h1>small {
    color: #aaa;
}

[data-theme="dark"] h2>small {
    color: #aaa;
}

[data-theme="dark"] h3>small {
    color: #aaa;
}

[data-theme="dark"] h4>small {
    color: #aaa;
}

[data-theme="dark"] h5>small {
    color: #aaa;
}

[data-theme="dark"] h6>small {
    color: #aaa;
}

[data-theme="dark"] .well {
    color: #ddd;
    background-color: #444;
	border-color: #565656;
}

[data-theme="dark"] option {
    background-color: #111;
    color: #aaa;
}

[data-theme="dark"] option:checked {
    background-color: #555;
    color: #ccc;
}

[data-theme="dark"] input {
    background-color: #111;
    color: #aaa;
}

[data-theme="dark"] select {
    background-color: #111;
    color: #aaa;
}

[data-theme="dark"] .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #333;
}

[data-theme="dark"] code {
    color: white;
}

[data-theme="dark"] .breadcrumb {
	background-color: #222;
	color: #eee;
}

[data-theme="dark"] .breadcrumb>.active {
	color: inherit;
}

[data-theme="dark"] .page-header {
	border-bottom-color: #3d3d3d;
}

[data-theme="dark"] hr {
	border-top-color: #3d3d3d;
}

[data-theme="dark"] .table>thead>tr>th, [data-theme="dark"] .table>tbody>tr>td {
	border-color: #444;
}

[data-theme="dark"] blockquote {
	border-color: #3d3d3d;
}

[data-theme="dark"] .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
	color: #e69999;
}