[% IF entry.data_files %]
<p>This entry's data_files:</p>
<ul>
[% current_index = 0 %]
[% FOR file IN entry.data_files %]
<li>[% file.basename %]
    [% IF add_deletion_links %]
        <a href="[% c.uri_for_action( '/entry/delete_data_file', [ entry.id, current_index ] ) %]">Delete</a>
    [% END %]
    [% current_index = current_index + 1 %]
</li>
[% END %]
</ul>
[% ELSE %]
<p>This entry has no data files attached.</p>
[% END %]
