<div class="container">
<ol class="breadcrumb">
  <li><a href="[% c.uri_for_action( '/entry/list' ) %]">Your entries</a></li>
  <li><a href="[% c.uri_for_action( '/entry/update', [ entry.id ] ) %]">[% entry.title %]</a></li>
  <li class="active">Data files</li>
</ol>
<h1>Manage data files for [% entry.title %]</h1>

[% INCLUDE entry/_data_files_list.tt add_deletion_links = 1 %]

[% form.render %]

</div>
