<h2>
    [% entry.title %]
    [% IF include_permalink %]
        <a href="#entry-[% entry.id %]"><small><span class="glyphicon glyphicon-link" style="float: right; margin:0; padding: 0"></span></small></a>
    [% END %]
    [% IF entry.subtitle %]
        <br /><small>[% entry.subtitle %]</small>
    [% END %]
</h2>
