<p>All competition deadlines specifically mean 11:59 PM, Eastern time, on the given dates.</p>

<ul>
<li><p><strong>July 1:</strong> The competition website is open for authors to declare their intent to enter this year&#8217;s competition.</p></li>
<li><p><strong>September 1:</strong> The last date that authors can register their intent to enter.</p></li>
<li><p><strong>September 28:</strong> The last date that authors can upload their games to the competition site. Judges start sharpening their silverware.</p></li>
<li><p><strong>October 1:</strong> The games are released to the public, and the judging period begins.</p></li>
<li><p><strong>November 15:</strong> All votes must be submitted by the end of the day. The competition results are announced shortly afterwards. Prize choosing and distribution begins.</p></li>
</ul>