[% IF entry.reveal_pseudonym %]
    [% entry.author.name %] (writing as “[% entry.author_pseudonym %]”)
[% ELSIF entry.author_pseudonym %]
    [% entry.author_pseudonym %]
[% ELSE %]
    [% entry.author.name %]
[% END %]
