<div class="container">
<h1>[% entry.title %]: Changelog</h1>
<ul>
[% FOR update IN updates %]
    <li><em>[% update.time.strftime( '%{month_name} %{day}, %{hour_12}:%M %{am_or_pm} (UTC)' ) %]</em>: [% update.note | html %]</li>
[% END %]
</ul>
</div>