[% meta.title = 'IFComp - Admin' %]
<div class="container">
     <div class="jumbotron">
          <h1 style="text-align:center;">Administrative Functions</h1>
     </div>

     <p>The following functions are available for administrators</p>

     <ul>
        <li><a href="[% c.uri_for('/admin/voting/') %]">Voting</a></li>
     </ul>
     
     <ul>
        <li><a href="[% c.uri_for('/admin/feedback/') %]">Feedback</a></li>
     </ul>
     
</div>