<div class="container">
<h1>Thanks! Please check your email to finish registration.</h1>

<p>Thanks for registering! You now need to confirm your new account's email address, and then you'll be ready to log in.</p>

<p>We've just sent an email to [% user.email %], with the subject line "Please confirm your new ifcomp.org account". Simply click the link you'll find inside that email to complete your registration.</p>

<p>(If you don't receive this email within the next few minutes, please check your spam folder. If it's not in there either, please contact us at <a href="mailto:ifcomp@ifcomp.org">ifcomp@ifcomp.org</a>, letting us know the email address you used to register.)</p>
</div>