<div class="container">
<h1>Please check your email</h1>

<p>We've just sent an email to [% user.email %]. It contains a link to a webpage that will allow you to reset your ifcomp.org password.</p>

<p>(If you don't receive this email within the next few minutes, please check your spam folder. If it's not in there either, please contact us at <a href="mailto:ifcomp@ifcomp.org">ifcomp@ifcomp.org</a>, letting us know the email address you used to register.)</p>
</div>