<div class="container">
<h1>Reset your password</h1>

<p>Hello, [% user.name %]. Please provide a <em>new</em> password for your ifcomp.org account below.</p>

<div class="row">
<div class="col-sm-6">
[% form.render %]
</div>
</div>  

</div>